/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* ------- that adapts content width and height so that aspect ratio  ----------- */
/* ------- is kept between 9/16 a,d 3/4 (portait orientation)         ----------- */

/* Normalize margin and padding to ease elements positioning */
*{
    padding:0;
    margin:0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    
}

body{
    background-color: black;
    color: white;
    overflow: hidden;   /* to avoid slider bugs on some browsers */
    font-family: 'Inter', sans-serif;
    overflow-y: scroll;
}
h1{
    font-family: 'Nexa', sans-serif;
}

h6{
    font-family: 'Nexa', sans-serif;
}


/* -------------- Loader --------------*/
#loader{
    z-index: 2;
    position:absolute;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}

#loader-img{
    top:40%;
    left:40%;
    position: absolute;
}

#loader-text{
    text-align: center;
    font-size: 25%;
    position: absolute;
    top:60%;
    width: 100%
}
/* -------------- End of Loader --------------*/

#reportage{
    width: 100%;
    height: 100%;
}


/*-------- Drawing ----------*/
.drawing{
    width: 100%;
    height: 10%;
    font-size: 0.6em;
    background-color: #FBEFEB;
    color: #000000;
}
.drawing h1{
    position: absolute;
    top: 15px;
    width: 100%;
    color: #292C5E;
    text-align: center;
    font-size: 1em;
    z-index: 3;
}
.drawing .background-container img{
    position: absolute;
    height: 25%;
    width: 100%;
    animation: translateAnimation 2s; /* 1s est la durée de l'animation, ajustez selon vos besoins */
}
@keyframes translateAnimation {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.drawing .background-container .out{
    animation: translateAnimation2 2s; /* 1s est la durée de l'animation, ajustez selon vos besoins */
}
@keyframes translateAnimation2 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}
/*-------- End of Drawing ----------*/





/* SlideIn Animations */
/* Slide Effect from the left to the right*/
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
/* Slide Effect from the right to the left */
@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}



/* ---- Videos ---- */
.videos{
    width: 100%;
    height: 343px;
    margin: 10px;
    border-radius: 10px;
}

@keyframes jumpInfinite {
    0% {
        bottom: 10px;
    }
    25% {
        bottom: 20px;
    }
    50% {
        bottom: 8px;
    }
    75% {
        bottom: 15px;
    }
    100% {
        bottom: 10px;
    }
}
/* -------------- End of Conversation --------------*/





/* -------------- credits --------------*/
.credits{
    width: 100%;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0.3em;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    font-size: 0.5em;
    color: #292C5E;
    font-family: nexa;
}


#nom p {
    margin-top: 10%;
    margin-left: 4%;
}

#nom li {
    margin: 4%;

    max-height: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    font-weight: bold;
}

#nom li::marker{
    font-size: 1.5em;
    line-height: 0.1;

 }

#informatique li::marker {
    color: #EDBDBF;
    padding: 10%;
}
#journalisme li::marker {
    color: #E69973;
    padding: 10%;
}
#AGR li::marker {
    color: #7D7DB5;
    padding: 10%;
}
/* ----------------- logo ---------------------*/

#logo li img {
    margin: 4%;

    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    
}

#logo li:last-of-type  {
        margin: 4%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%; 
    }
    
/* --------------- End of logo ----------------*/

/* -------------- End of credits --------------*/



/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Whatever the device used, the content will be displayed full width and height if      */
/* the aspect ratio is between 3/4 and 9/16. If not it is locked to either 3/4 or 9/16  */

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container{
    position: fixed; /* To set the size of the container to 100% of the visible viewport height AND for absolute positioning of child elements*/ 
    height: 100%;   /* even on mobile devices with url or navigation bars */
    margin-left: calc((100vw - 100 * 3vh / 4) / 2); /* Add black bands on left and right */
    width: calc(100 * 3vh / 4); /* Force 3/4 aspect ratio */
    overflow: hidden;
}

/* We set a default font size here. It will be the base for all other font sizes */
/* Here the font size is proportional to content width */
body{
    font-size: calc(15vh * 3 / 4);
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: #7D7DB5;
    border-radius: 10px;
}

/* Fill the whole viewport when its aspect ratio is between 9/16 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
    #container{
        margin-left: 0; /* reset margin-left */
        width: 100vw; /* content is full width (and full height because of the default rule for container height */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */ 
@media screen and (max-aspect-ratio: 9/16) {
    #container{
        margin-left: 0; /* reset left margin */
        width: 100vw;   /* content is full width */
        margin-top: calc(-50 * 16vw / 9); /* move the content half the height to the top */
        top:50%; /* then center it ! */
        height: calc(100 * 16vw / 9); /* adjust height so that aspect ratio is 9/16 */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}
