/* Burger Menu */
/* Sidenav menu */

#mySidenav {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: -100%;
    padding-top: 20%;
    background-color: #FBEFEB;
    transition: left 0.5s ease;
    overflow-y: scroll;
}

#mySidenav p {
    color: #292C5E;
    font-size: 0.4em;
    text-indent: 3%;
}

#mySidenav-header{
    display: flex;
    justify-content: center;
}

#mySidenav h1{
    width: fit-content;
    text-align: center;
    font-size: 1em;
    color:#31356B;
}

/* Sidenav menu links */
#mySidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: #292C5E;
    display: block;
    transition: 0.3s;
}

#mySidenav a:hover {
    color: #111;
}

#mySidenav ul {
    list-style-type: disc;
    margin-bottom: 20%;
}

#mySidenav li{
    margin: 2px 0 0 12%;
    color: #7D7DB5;
}

li::before {
    content: "●";
    color: #7D7DB5;
    font-size: 16px;
    position: absolute;
    left: -8%;
    top: 57%;
    transform: translateY(-50%);
}

#mySidenav hr{
    height: 2px;
    background-color: #292C5E;
    border: none;
}
/* Active class */
#mySidenav.active {
    left: 0;
}


#mySidenavlastul li{
    list-style-type: none;
}
/* Close btn */
#closeBtn {
    content:'';
    position: absolute;
    top: 15px;
    left: 15px;
    width: 8%;
    height: 5%;
    background: none;
    border: none;
}

#closeBtn::before,
#closeBtn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 31px;
  height: 3px;
  background-color: #31356B;
}

#closeBtn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

#closeBtn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
/* Open btn */
#openBtn {
    position: absolute;
    z-index: 4;
    left: 15px;
    top: 15px;
    background: none;
    border: none;
}

/* burger */
.burger-icon span {
    display: block;
    width: 31px;
    height: 4px;
    background-color: #292C5E;
    margin: 6px 0;
}

