/* Burger Menu */
/* Sidenav menu */

#titre {
    position: absolute;
    top:0;
    left: 45%;
    font-size: 22px;
    color: #111;
}

.sidenav p {
    color: #818181;
}

.sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100%;
    background-color: #FBEFEB;
    padding-top: 60px;
    transition: left 0.5s ease;
    overflow-y: scroll;
}

/* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #111;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Active class */
.sidenav.active {
    left: 0;
}

/* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* burger */
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}