/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* ------- that adapts content width and height so that aspect ratio  ----------- */
/* ------- is kept between 9/16 a,d 3/4 (portait orientation)         ----------- */

:root{
    --drawing-size: 28%;
    --guide-size: 8%;
    --conversation-size: 64%;
}

/* Normalize margin and padding to ease elements positioning */
*{
    padding:0;
    margin:0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body{
    background-color: black;
    color: white;
    overflow: hidden;   /* to avoid slider bugs on some browsers */
    font-family: 'Inter', serif;
    overflow-y: scroll;
}
h1{
    font-family: 'Nexa', sans-serif;
}

/* -------------- Loader --------------*/
#loader{
    z-index: 2;
    position:absolute;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}

#loader-img{
    top:40%;
    left:40%;
    position: absolute;
}

#loader-text{
    text-align: center;
    font-size: 25%;
    position: absolute;
    top:60%;
    width: 100%
}
/* -------------- End of Loader --------------*/

#quartier{
    width: 100%;
    height: 100%;
}

/*-------- Drawing ----------*/
.drawing{
    position: relative;
    width: 100%;
    height: var(--drawing-size);
    font-size: 0.6em;
    background-color: #FBEFEB;
    color: #000000;
}
.drawing h1{
    position: absolute;
    top: 15px;
    width: 100%;
    color: #292C5E;
    text-align: center;
    font-size: 1em;
    z-index: 3;
    /*animation: translateFromLeft 2s;*/
}
@keyframes translateFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
.drawing .background-container img{
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    animation: translateFromRight 2s;
}
@keyframes translateFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.drawing .background-container .out{
    animation: backgroundOut 2s; /* 1s est la durée de l'animation, ajustez selon vos besoins */
}
@keyframes backgroundOut {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}
.empty{
    visibility: hidden;
}

.background-container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#background-animation{
    position: absolute;
    bottom: 0;
    height: auto;
    width: 102%;
    transform: translateX(-2%) translateY(4%);
}
.drawing .background-container .animated_background_out{
    animation: animatedBackgroundOut 2s;
}
@keyframes animatedBackgroundOut {
    from {
        transform: translateX(0%) translateY(4%);
    }
    to {
        transform: translateX(-100%) translateY(4%);
    }
}
/*-------- End of Drawing ----------*/

/*-------- Guide ----------*/
#guide-chemin{
    position: relative;
    height: var(--guide-size);
    background-color: white;
    box-shadow: 0px 3px 10px 0px black;
    z-index: 4;
}
.topic-title{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 22%;
    color: #292C5E;
    font-size: 0.4em;
}
.title-in{
    animation: titleApparition 2s ease-out;
}
@keyframes titleApparition {
    from {
        transform: translateX(40%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.title-out{
    animation: titleOut 2s ease-out;
}
@keyframes titleOut {
    from {
        transform: translateX(0%);
        opacity: 1;
    }
    to {
        transform: translateX(-40%);
        opacity: 0;
    }
}
.guide{
    animation: appartion 2s;
}
@keyframes appartion {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#guide-coucou{
    position: absolute;
    bottom: 10%;
    left: 5%;
    height: 175%;
    width: auto;
    -webkit-position: absolute;
    -webkit-bottom: 10%;
    -webkit-left: 5%;
    -webkit-height: 175%;
    -webkit-width: auto;
}
#guide-walk{
    position: absolute;
    bottom: 10%;
    left: 5%;
    height: 175%;
    width: auto;
}
#guide-test{
    position: absolute;
    bottom: 10%;
    right: 5%;
    height: 200px;
    width: auto;
    -webkit-position: absolute;
    -webkit-bottom: 10%;
    -webkit-right: 5%;
    -webkit-height: 200px;
    -webkit-width: auto;
}
/*-------- End of Guide ----------*/

/*-------- Conversation ----------*/
.conversation{
    width: 100%;
    height: var(--conversation-size);
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0.25em;
    display: flex;
    flex-direction: column;
    color: #292C5E;
    background-color: white;
}
.lien-conv{
    display: inline;
    white-space: nowrap;
    color: #7C2224;
}
.conversation ul{
    list-style: none;
}

.rp_guide{
    display: flex;
    flex-direction: column;
    margin: 10px 10% 10px 10px;
}

/* .rp_guide:first-child .cont_guide:first-child{
    border-top-left-radius: 0;
}
.rp_guide:first-child .cont_guide:last-child{
    border-radius: 18px;
}
.rp_guide:first-child .cont_guide:last-child::before{
    display: none;
}
.rp_guide:first-child .cont_guide:first-child::before{
    content: '';
    position: absolute;
    top: -0.68em;
    left: 0;
    border: 0.65em solid;
    border-color: transparent transparent #E69973 #E69973;
} */
.name_guide{
    display: flex;
    margin: 4%;
}
.cont_guide, .cont_user{
    position: relative;
    /*display: flex;*/
    flex-direction: column;
    color: white;
    padding: 0.65em;
    margin-bottom: 10px;
    border-radius: 18px;
    width: fit-content;
}
.cont_guide{
    background-color: #E69973;
}
.cont_user{
    background-color: #7D7DB5;
}
.anime_guide{
    animation: slideInLeft 1s;
}
.anime_user{
    animation: slideInRight 1s;
}
.anime_bottom{
    animation: slideInBottom 1s;
}
/* .cont_guide:last-child{
    border-bottom-left-radius: 0;
} */
.cont_guide:first-child{
    border-top-left-radius: 0;
}
.cont_user:last-child{
    border-bottom-right-radius: 0;
}
/* .cont_guide:last-child::before {
     content: '';
    position: absolute;
    bottom: -0.68em;
    left: 0;
    border: 0.65em solid;
    border-color: #E69973 transparent transparent #E69973;  
}*/
.cont_guide:first-child::before {
    content: '';
    position: absolute;
    top: -0.68em;
    left: 0;
    border: 0.65em solid;
    border-color: transparent transparent #E69973 #E69973;

}
.cont_user:last-child::before {
    content: '';
    position: absolute;
    bottom: -0.66em;
    right: 0;
    border: 0.65em solid;
    border-color: #7D7DB5 #7D7DB5 transparent transparent;
}
.rp_user{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px 10px 10px 10%;
}
.user_name{
    display: flex;
    flex-direction: row-reverse;
    margin: 4%;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: #7D7DB5;
    border-radius: 10px;
}
/* SlideIn Animations */
/* Slide Effect from the left to the right*/
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
/* Slide Effect from the right to the left */
@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* --- Choice bubbles--- */
.choices{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3% 0 3% 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #7D7DB5; 
}
.greyed{
    color: #5c5454  !important;
    border: solid thin #5c5454  !important;
}
.choice-bubbles{
    padding: 0.45em;
    margin: 4px 1em 4px 1em;
    color: white;
    background-color: #7D7DB5;
    border: solid thin white;
    border-radius: 20px;
    font-size: 1em;
}
.choices-placeholder{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: 0;
    padding: 5% 0 5% 0;
    visibility: hidden;
}
.input{
    margin: 0 10px 0 10px;
    padding: 4px;
    background-color: #7D7DB5;
    font-size: 0.8em;
    color: white;
    border-radius: 20px;
    border: solid thin white;
    text-align: center;
    letter-spacing: 1px;
}
#username_input::placeholder {
    color: white;
  }

/* ---- Videos ---- */
.videos{
    position: relative;
    width: 90%;
    height: auto;
    margin: 5px;
    border-radius: 10px;
    justify-content: center;
    left: 48%;
    transform: translateX(-50%);
}
.conversation_image{
    position: relative;
    width: 100%;
    height: auto;
    margin: 5px;
    border-radius: 10px;
    justify-content: center;
    left: 48%;
    transform: translateX(-50%);
}


@keyframes jumpInfinite {
    0% {
        bottom: 10px;
    }
    25% {
        bottom: 20px;
    }
    50% {
        bottom: 8px;
    }
    75% {
        bottom: 15px;
    }
    100% {
        bottom: 10px;
    }
}
/* -------------- End of Conversation --------------*/

/*-------- Choice ----------*/
#choiceContainer{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); /* Trois colonnes égales */
    /* grid-template-rows: repeat(2, 1fr); Deux lignes égales */
    width: 100%;
    height: 15%;
    /* font-size: 0.2em;
    background-color: #7D7DB5; */
}
.topic-button{
    position: relative;
    left: 50%;
    top: 50%;
    width: 70%;
    transform: translateX(-50%) translateY(-50%);
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 5px;
    border-radius: 20px;
    outline: none
}
/*-------- End of Choice ----------*/

/* -------------- Video player --------------*/
.video-player {
    margin: 15%;
}

.video-player h6 {
    font-size: calc(15vh * 3 / 8);
    margin-bottom: 3%;
    
}

.video-player p {
    font-size: calc(15vh * 3 / 16);

}

iframe {
    width: 80%;
    margin: 10%;

}

/* -------------- End of Video player --------------*/


/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Whatever the device used, the content will be displayed full width and height if      */
/* the aspect ratio is between 3/4 and 9/16. If not it is locked to either 3/4 or 9/16  */

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container{
    position: fixed; /* To set the size of the container to 100% of the visible viewport height AND for absolute positioning of child elements*/ 
    height: 100%;   /* even on mobile devices with url or navigation bars */
    margin-left: calc((100vw - 100 * 3vh / 4) / 2); /* Add black bands on left and right */
    width: calc(100 * 3vh / 4); /* Force 3/4 aspect ratio */
    overflow: hidden;
}

/* We set a default font size here. It will be the base for all other font sizes */
/* Here the font size is proportional to content width */
body{
    font-size: calc(15vh * 3 / 4);
}

/* Fill the whole viewport when its aspect ratio is between 9/16 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
    #container{
        margin-left: 0; /* reset margin-left */
        width: 100vw; /* content is full width (and full height because of the default rule for container height */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */ 
@media screen and (max-aspect-ratio: 9/18) {
    #container{
        margin-left: 0; /* reset left margin */
        width: 100vw;   /* content is full width */
        margin-top: calc(-50 * 18vw / 9); /* move the content half the height to the top */
        top:50%; /* then center it ! */
        height: calc(100 * 18vw / 9); /* adjust height so that aspect ratio is 9/16 */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}
