/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* ------- that adapts content width and height so that aspect ratio  ----------- */
/* ------- is kept between 9/16 a,d 3/4 (portait orientation)         ----------- */

/* Normalize margin and padding to ease elements positioning */
*{
    padding:0;
    margin:0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body{
    background-color: black;
    color: white;
    overflow: hidden;   /* to avoid slider bugs on some browsers */
    font-family: sans-serif;
    overflow-y: scroll;
}

/* -------------- Loader --------------*/
#loader{
    z-index: 2;
    position:absolute;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}

#loader-img{
    top:40%;
    left:40%;
    position: absolute;
}

#loader-text{
    text-align: center;
    font-size: 25%;
    position: absolute;
    top:60%;
    width: 100%
}
/* -------------- End of Loader --------------*/

/* -------------- Swiper --------------*/
.swiper-horizontal{
    width: 100%;
    height:100%;
    position: absolute;
}

.swiper-vertical{
    width: 100%;
    height:100%;
    position: absolute;
}

/* the slides and the loader should fill the whole 9:16 zone */
.swiper-slide{
    background-color: dodgerblue;
    width: 100%;
    height: 100%;
}
/* -------------- End of Swiper --------------*/

/*-------- Drawing ----------*/
.drawing{
    width: 100%;
    height: 30%;
    font-size: 0.6em;
}
/*-------- End of Drawing ----------*/

/*-------- Spaceline ----------*/
.spaceline{
    width: 100%;
    height: 10%;
    font-size: 0.6em;
}
/*-------- End of Spaceline ----------*/

.guide{
    position: absolute;
    height: 20%;
    width: auto;
    bottom: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.conversation-arrow-container {
    position: absolute;
    width: 100%;
    top: 90%;
}
.conversation-arrow-down {
    color: #333;
    position: absolute;
    left: 50%;
    width: 14px;
    height: 14px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
    cursor: pointer;
    animation: jumpInfinite 1.5s infinite;
}

.navigation-button{
    position: absolute;
    transform: translateY(50%);
    z-index: 2;
    right: 0;
}
.more-info{
    bottom: 5%;
}
.back-to-home{
    top: 5%;
}
.go-to-map{
    top: 5%;
}

/*-------- Conversation ----------*/
.conversation{
    width: 100%;
    height: 60%;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0.3em;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;

    -webkit-overflow-scrolling: touch;

}

.rp_guide{
    display: flex;
    animation: slideInLeft 1s;
    margin: 10px 10% 10px 10px;
}
.name_guide{
    display: flex;
    margin: 10px;
    color: #84A2CF;
}
.cont_guide, .cont_user{
    position: relative;  
    padding: 0.45em;
    margin-bottom: 5px;
    border: thin solid black;
}
.cont_guide{
    border-radius: 10px 10px 10px 0;
}
.cont_user{
    border-radius: 10px 10px 0 10px;
}
.cont_guide::before {
    content: '';
    position: absolute;
    bottom: -0.68em;
    left: -1px;
    border: 0.35em solid;
    border-color: black transparent transparent black;
}
.cont_guide::after {
    content: '';
    position: absolute;
    bottom: -0.6em;
    left: 0px;
    border: 0.38em solid;
    border-color: white transparent transparent white;
}
.cont_user::before {
    content: '';
    position: absolute;
    bottom: -0.66em;
    right: -1px;
    border: 0.35em solid;
    border-color: black black transparent transparent;
}
.cont_user::after {
    content: '';
    position: absolute;
    bottom: -0.6em;
    right: 0px;
    border: 0.38em solid;
    border-color: white white transparent transparent;
}
.rp_user{
    display: flex;
    flex-direction: row-reverse;
    animation: slideInRight 1s;
    margin: 10px 10px 10px 10%;
}
.name_user{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
    color: #EC8670;
}
/* SlideIn Animations */
/* Slide Effect from the left to the right*/
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
/* Slide Effect from the right to the left */
@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
/* -------------- End of Conversation --------------*/

@keyframes jumpInfinite {
    0% {
        bottom: 10px;
    }
    25% {
        bottom: 20px;
    }
    50% {
        bottom: 8px;
    }
    75% {
        bottom: 15px;
    }
    100% {
        bottom: 10px;
    }
}


/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Whatever the device used, the content will be displayed full width and height if      */
/* the aspect ratio is between 3/4 and 9/16. If not it is locked to either 3/4 or 9/16  */

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container{
    position: fixed; /* To set the size of the container to 100% of the visible viewport height AND for absolute positioning of child elements*/ 
    height: 100%;   /* even on mobile devices with url or navigation bars */
    margin-left: calc((100vw - 100 * 3vh / 4) / 2); /* Add black bands on left and right */
    width: calc(100 * 3vh / 4); /* Force 3/4 aspect ratio */
}

/* We set a default font size here. It will be the base for all other font sizes */
/* Here the font size is proportional to content width */
body{
    font-size: calc(15vh * 3 / 4);
}

/* Fill the whole viewport when its aspect ratio is between 9/16 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
    #container{
        margin-left: 0; /* reset margin-left */
        width: 100vw; /* content is full width (and full height because of the default rule for container height */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */ 
@media screen and (max-aspect-ratio: 9/16) {
    #container{
        margin-left: 0; /* reset left margin */
        width: 100vw;   /* content is full width */
        margin-top: calc(-50 * 16vw / 9); /* move the content half the height to the top */
        top:50%; /* then center it ! */
        height: calc(100 * 16vw / 9); /* adjust height so that aspect ratio is 9/16 */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}
