.headerPlayer {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    top: 2vh;
}
#VideoPlayer > div:nth-child(7) > div:nth-child(1) {
    top: 0% !important;
    height: 100% !important;
}

.boutonRetour {
    position: absolute;
    bottom: 10vh;
    left: 3vw;
}

#VideoPlayer > div.head > div > nav {
    background-color: transparent !important;
}