.custom-image {
  width: 80%; 
  height: auto; 
}


.image-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel_main .carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  width: 8px;
  fill: #ffffff;
  border-radius: 50%;
  background-color: #fff2f0;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25));
}

.carousel_main .carousel-indicators .active {
 width: 30px;
 background-color: #EB5059;
 border-radius: 50%;
 filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25));
}

.carousel_main .carousel-indicators{
  bottom: -20px;
}
/* VideoListItem.css */
.video-list-item {
    position: relative;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background: #fff; /* Background color for the video item */
    border-radius: 10px; /* Rounded corners for the border */
    margin-bottom: 16px; /* Space between each item */
    display: flex; /* Use flexbox for layout */
    flex-direction: row;
    padding: 16px; /* Padding inside the video item */
    overflow: hidden;
    width: 17em;
    height: 8em;
  }
  
  .video-list-item img {
    width: 128px; /* Full width of the image */
    max-width: 70%;
    object-fit: cover; /* Cover the full area of the image box without stretching */
    border-radius: 8px; /* Rounded corners for the image */
    border-top-left-radius: 10px; /* Rounded corners for the image */
    border-top-right-radius: 10px;
    /* Additional styles can go here */
  }
  .video-content {
    padding: 16px;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: space-between; /* Center content vertically */
    flex: 1; /* Take up remaining space */
  }

  .video-info h4 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }

  .video-info h5 {
    color: #757575;
    font-size: 11px;
    margin-top: 4px;
  }
  
  .video-info p {
    font-size: 14px;
    color: #666;
  }
  
  .video-info .metadata {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .like-button {
    position: absolute; 
    bottom: 16px; 
    right: 16px; 
  }