/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* ------- that adapts content width and height so that aspect ratio  ----------- */
/* ------- is kept between 9/16 and 3/4 (portait orientation)         ----------- */

/* Normalize margin and padding to ease elements positioning */
*{
    padding:0;
    margin:0;
}

/** colors **/
/* Defining the colors used through the app here as variables */
/* use : color : var(--bg-green) */
:root {
    --bg-green :#009E49 ;
    --yellow: #FADD4B ;
    --green : #17853C ; 
}
/** colors **/

/** fonts **/
@font-face {
    font-family: 'Abolition';
    src: url('../fonts/Abolition-W00-Soft.ttf') format('truetype');
  }
@font-face {
    font-family: 'Neue Haas Unica';
    src: url('../fonts/NeueHaasUnicaPro-Regular.ttf') format('truetype');
  }
/** fonts **/

body{
    background-color: #009E49;
    color: white;
    overflow: hidden;   /* to avoid slider bugs on some browsers */
    font-family: sans-serif;
}

/* -------------- Loader --------------*/
#loader {
    z-index: 2;
    position:absolute;
    background-color: #009E49;
    width: 100%;
    height: 100%;
}

#loader-img {
    top:40%;
    left:40%;
    position: absolute;
}

#loader-text {
    text-align: center;
    font-size: 25%;
    position: absolute;
    top:60%;
    width: 100%
}

/* -------------- End of Loader --------------*/

#header {
    display: flex;
    position: absolute;
    top: 0;
    height: 12.5%;
    width: 100%;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 12.5%;
    max-height: 5em;
    width: 100%;
    gap: 1em;
}
    #archives, #statistiques {
        font-family: 'Abolition';
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        color: var(--yellow);
        text-transform: uppercase;
        background-color: transparent;
        border: solid 3px var(--yellow);
        font-size: 2em;
        padding:1% 3% 1% 3%;
        cursor: pointer;
        z-index: 3;
        transition: all 0.5s ease-in-out ;
    }

    #archives-svg {
        color: var(--yellow);
    }

    #archives:hover, #statistiques:hover{
        background-color: var(--yellow);
        color: var(--green);
    }

    #archives:hover #archives-svg {
        color: var(--green);
        transition: all 1s ease-in-out;
    }

#return {
    position: fixed;
    top: 5%;
    left: 5%;
}

#return-img {
    width: 150%;
}

#logo {
    position: absolute;
    top: -4%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-15deg);
    width:50%;
    z-index:1;
}



#field {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


#field-img {
    width: 100%;
    height: 100%;
}

#field-jersey-container {
    position: absolute;
    display: flex;
    align-items: center;
    height: 75%;
}


.field-jersey {
    position: absolute;
    width: 10%;
    transform: translate(-50%, -50%);
}

.field-jersey-img{
    width:160%;
}

/* Postes spécifiques */
#poste-1 { /* Gardien */
    top: 89%;
    left: 48%;
    width: 12%;
}

#poste-2 { /* Arrière latéral droit */
    top: 62%;
    left: 12%;
}

#poste-3 { /* Arrière latéral gauche */
    top: 62%;
    left: 84%;
}

#poste-4 { /* Défenseur central 1 */
    top: 73%;
    left: 34%;
}

#poste-5 { /* Défenseur central 2 */
    top: 73%;
    left: 62%;
}

#poste-6 { /* Milieu défensif */
    top: 50%;
    left: 34%;
}

#poste-7 { /* Milieu gauche */
    top: 38%;
    left: 12%;
}

#poste-8 { /* Milieu offensif */
    top: 50%;
    left: 62%;
}

#poste-9 { /* Attaquant 1 */
    top: 26%;
    left: 34%;
}

#poste-10 { /* Milieu droit */
    top: 38%;
    left: 84%;
}

#poste-11 { /* Attaquant 2 */
    top: 26%;
    left: 62%;
}

#poste-12 { /* Sélectionneur */
    width: 7%;
    top: 12%;
    left: 49%;
}


/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Whatever the device used, the content will be displayed full width and height if      */
/* the aspect ratio is between 3/4 and 9/16. If not it is locked to either 3/4 or 9/16  */

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container{
    position: fixed; /* To set the size of the container to 100% of the visible viewport height AND for absolute positioning of child elements*/ 
    height: 100%;   /* even on mobile devices with url or navigation bars */
    margin-left: calc((100vw - 100 * 3vh / 4) / 2); /* Add black bands on left and right */
    width: calc(100 * 3vh / 4); /* Force 3/4 aspect ratio */
}

/* Fill the whole viewport when its aspect ratio is between 9/16 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
    #container{
        margin-left: 0; /* reset margin-left */
        width: 100vw; /* content is full width (and full height because of the default rule for container height */
    }
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */ 
@media screen and (max-aspect-ratio: 9/16) {
    #container{
        margin-left: 0; /* reset left margin */
        width: 100vw;   /* content is full width */
        margin-top: calc(-50 * 16vw / 9); /* move the content half the height to the top */
        top:50%; /* then center it ! */
        height: calc(100 * 16vw / 9); /* adjust height so that aspect ratio is 9/16 */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    

    p{
        margin: 0.8em;
        font-size: 5vw;
        color: black;
        text-align: justify;
    }

    
}