/* styles.css */

/* Reset some default styles */

body{
  overflow: hidden;
  background-color: black;
}
  /* Container for the entire content */
#container {
  position: fixed;
  height: 100%;
  padding: 0%;
  background-color: var(--bg-green);
  margin-left: calc((100vw - 100 * 3vh / 4) / 2);
  width: calc(100 * 3vh / 4);
  overflow: hidden;
  }

  /* Styling for the player boxes */
  .player-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .player-box {
    border: 3px solid var(--yellow); /* Border styling */
    border-radius: 0.2em; /* Rounded corners */
    overflow: hidden; /* Ensure content doesn't overflow */
    margin: 1%;
    width: 80%; /* Adjust the width as needed */
    max-width: 100%; /* Adjust the maximum width as needed */
    display: flex; /* Use flexbox for layout */
  }
  
  .player-box img {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    margin-left: 0.938rem;
    width: 2.813rem; 
    height: 2.813rem;
    border-radius: 0.2rem;
    max-width: 100%; 
    object-fit: cover;
  }
  
  .player-box p {
    flex: 1; /* Take remaining space */
    padding: 1.438rem;
    text-align: center; /* Center the name */
    color: white;
    font-family: "Abolition"; 
    font-size: 1.25rem;
  }
  
  .heart-button {
    background: url('../img/COEUR1.svg') no-repeat center center;
    background-size: contain;
    width: 1.563rem;
    margin-right: 0.625rem;
    margin-left: 1rem;
    border: none;
    cursor: pointer;
  }
  
  /* Styling for the pressed state of the heart button */
  .heart-button.pressed{
    background: url("../img/COEUR2.svg") no-repeat center center;
    background-size: contain;
    width: 1.563rem;
    margin-right: 0.625rem;
    margin-left: 1rem;
    border: none;
    cursor: pointer;
  }

  .down-slider {
    background: url("../img/fleche_correction.svg") no-repeat center center;
    background-size: contain;
    width: 1rem;;
    border: none;
    cursor: pointer;
  }
  
  /* Styling for the footer */
  .fixed-footer{
    text-align: center;
    background-image: url('../img/Footer_papier.svg');
    margin-top: 15%;
  }
  
  /* Styling for the "Sauvegarder les votes" button */
  #retour {
    background-color: var(--bg-green);
    padding: 0.625rem 1.25rem;
    border: 0.188rem solid var(--yellow);
    cursor: pointer;
    border-radius: 0.313rem;
    color: var(--yellow);
    font-family: "Abolition"; 
    font-size: 1.25rem;
    border-radius: 1.25rem;
  }
  .arrow-container{
    color: var(--yellow);
    display: flex;
    justify-content: space-between; 
    cursor: pointer;
  }