
.swiper-wrapper {
    background-color: var(--bg-green);
}

.bio-joueur{

    box-sizing: border-box;
    width : 100% ; 
    max-width : 500px ; 
    height : 100% ; 
    max-height: 600px ; 
    margin: 20px;
    padding: 20px;
  
  border: 1px solid var(--yellow);
  border-radius: 8px;
  
  /* Background and text color */
  background-color : var(--bg-green);
  color: white;
  
  /* Text alignment and font styles */
  text-align: left;
  font-family: 'Arial', sans-serif;

  /* positioning */
  position: absolute;
  top : 20% ;
  left : 10% ; 
}