
.swiper-wrapper {
    background-color: var(--bg-green);
}

.bio-player{

    box-sizing: border-box;
    width : 100% ; 
    max-width : 500px ; 
    height : 100% ; 
    max-height: 700px ; 
    margin: 20px;
    padding: 0;
  
  border: 3px solid var(--yellow);
  border-radius: 8px;
  
  /* Background and text color */
  background-color : transparent ; 
  color: white;
  
  /* Text alignment and font styles */
  text-align: left;
  font-family: 'Arial', sans-serif;

  /* positioning */
  position: absolute;
  top : 15% ;
  left : 10% ; 

  /* Centering */
  overflow: hidden;
  text-align: center;

  line-height: 0.9; 
}

.background-text {
  color: var(--green);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:200px;
  white-space: nowrap;
  font-family: "Abolition";
  z-index: -1;
}

.bio-player img {
  width: 60%;
  height : 60% ; 
  object-fit:contain;
}

.fullname {
  color: #fff;
  font-family: "Abolition";
  
}

.overlay-firstname {
  position: absolute;
  top: 7%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.lastname {
  margin-bottom: 40px;
  font-size: 90px;
  line-height: 0; 
}


.display-bio {
  position: absolute; 
      bottom: 30%; 
      right: 0; 
      width: 80px;
      padding: 10px;
      z-index: 2;
}

.bio-player .icons {
  flex: 1;
  display: flex;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 70px;
  width: 100%;
  margin-bottom: 0 ;
  background-color: var(--green);
  box-sizing: border-box;
}


.like {
  height: 150px;
  width: 150px;
  padding-top: 0;
  cursor: pointer;
  display:flex;
  justify-content: center;
}

.icons > img {
  display: block;
  margin: 0;
  height: 150px;
}

.infos {
  height:inherit;
  width: 90px;
  padding: 10px;
  display:flexbox;
  justify-content: center; 
  align-items: center;
}

.infos .flags {
  display:flex;
  justify-content: center; 
  align-items: center;

}

.flags > img {
  height: 25px;
  padding-bottom: 10%;
}

.infos > img{
  display: block;
  padding-left: 20%;
  padding-bottom: 5%;
  height: 30px;
}

.infos p{
  font-family: "Abolition";
  font-size: 20px;
}

.bio-player .icons-text {
  padding: 15px;
  text-align: center;
  font-size: 20px;
  font-family: "Neue Haas Unica";
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */ 
@media screen and (max-aspect-ratio: 9/16) {
  #container{
      margin-left: 0; /* reset left margin */
      width: 100vw;   /* content is full width */
      margin-top: calc(-50 * 16vw / 9); /* move the content half the height to the top */
      top:50%; /* then center it ! */
      height: calc(100 * 16vw / 9); /* adjust height so that aspect ratio is 9/16 */
  }

  /* We set a default font size here. It will be the base for all other font sizes */
  /* Here the font size is proportional to content width */
  body{
      font-size: 15vw;
  }

  p{
      margin: 0.8em;
      font-size: 5vw;
      color: black;
      text-align: justify;
  }

  i{
      font-size: 6.5vw;
  }
}