/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* ------- that adapts content width and height so that aspect ratio  ----------- */
/* ------- is kept between 9/16 a,d 3/4 (portait orientation)         ----------- */

/* Normalize margin and padding to ease elements positioning */
*{
    padding:0;
    margin:0;
    min-width: 0;
    min-height: 0;
}

body{
    background-color: black;
    color: white;
    overflow: hidden;   /* to avoid slider bugs on some browsers */
    font-family: sans-serif;
    font-size: calc(15vh * 3 / 4);
}

/* Swiper slider. Need to fill the container */
#mySwiper{
    width: 100%;
    height:100%;
    position: absolute;
}

.swiper-pagination{
    font-size: 0;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    --swiper-pagination-bottom: 0px;
    width: 100%;
    margin: 0 auto 10px auto;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin:  0 var(--swiper-pagination-bullet-horizontal-gap,4px);
    margin-bottom: 1%;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active{
    margin-bottom: 0;
}

.swiper-pagination-bullet, .swiper-pagination-bullet::before {
    --swiper-pagination-bullet-border-radius: 0;
    --swiper-pagination-bullet-horizontal-gap: 1%;
    --swiper-pagination-bullet-size: 10%;
    width: var(--swiper-pagination-bullet-size);
    padding-bottom: var(--swiper-pagination-bullet-size);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-inactive-color: transparent;
    background-color: transparent;
}

.swiper-pagination-bullet::before{
    --swiper-pagination-bullet-size: 5%;
    content: '';
    position: absolute;
    transform: translate(-50%, 5%);
    border: 2px solid white;
    border-radius: 50%;
}

/* white navigation bullets */
.swiper-pagination-bullet-active, .swiper-pagination-bullet-active::before {
    --swiper-pagination-bullet-size: 13%;
    width: var(--swiper-pagination-bullet-size);
    padding-bottom: var(--swiper-pagination-bullet-size);
}

.swiper-pagination-bullet-active::before{
    --swiper-pagination-bullet-size: 7%;
    background-color: white;
    transform: translate(-50%, 14%);
}

/* the slides and the loader should fill the whole 9:16 zone */
.swiper-wrapper section, #loader{
    width: 100%;
    height: 100%;
}

.swiper-button-next, .swiper-button-prev{
    --swiper-navigation-color: white;
}

/* Most of the elements in this demo are absolute positioned with percentages */
header{
    text-align: center;
    width: 100%;
    top: 10%;
    position: absolute;
    font-size: 30%;
    z-index: 2;
}

#container::before, #container::after {
    background-color: black;
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
}

#container::before{
    left: -500%;
    padding-right: 500%;
}

#container::after{
    right: -500%;
    padding-left: 500%;
}

.background-container{
    position: absolute; 
    overflow: hidden; 
    width: 100%; 
    height: 100%;
}

.background {
    z-index: -2;
    height: auto;
    width: 250%;
    position: absolute;
    bottom: 0;
    min-height: 100%;
    transform: translate(-50%, 0%);
}

.background > *{
    position: absolute; 
    bottom: 0;
}

/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Whatever the device used, the content will be displayed full width and height if      */
/* the aspect ratio is between 3/4 and 9/16. If not it is locked to either 3/4 or 9/16  */

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container{
    position: fixed; /* To set the size of the container to 100% of the visible viewport height AND for absolute positioning of child elements*/ 
    height: 100%;   /* even on mobile devices with url or navigation bars */
    margin-left: calc((100vw - 100 * 3vh / 4) / 2); /* Add black bands on left and right */
    width: calc(100 * 3vh / 4); /* Force 3/4 aspect ratio */
}

/* Fill the whole viewport when its aspect ratio is between 9/16 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
    #container{
        margin-left: 0; /* reset margin-left */
        width: 100vw; /* content is full width (and full height because of the default rule for container height */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */ 
@media screen and (max-aspect-ratio: 9/16) {
    #container{
        margin-left: 0; /* reset left margin */
        width: 100vw;   /* content is full width */
        margin-top: calc(-50 * 16vw / 9); /* move the content half the height to the top */
        top:50%; /* then center it ! */
        height: calc(100 * 16vw / 9); /* adjust height so that aspect ratio is 9/16 */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

.category-button{
    position: absolute; 
    width: 60%;
    height: 0; 
    padding: 30% 0;
    transform: translate(-50%, 50%); 
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
}

.growing {
    animation: growing 2s infinite;
}

@keyframes growing {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    50% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

.category-page{
    position: absolute;
    z-index: 99;
    background-color: #FFD8B3;
    color: black;
    font-size: 18px;
    padding: 10px 0;

    transition: width 0.3s ease-in-out, 
        height 0.3s ease-in-out, 
        bottom 0.3s ease-in-out,
        left 0.3s ease-in-out,
        right 0.3s ease-in-out,
        border-radius 0.3s ease-in-out,
        opacity 0.3s ease-in-out;
}

.category-page > p {
    margin: 0 10px;
}

.hidden{
    display: none;
    visibility: hidden;
}

/* Bouton de navigation */
.exit-button{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;

    width: 50px;
    height: 50px;
    padding: 20px;

    cursor: pointer;
}

.exit-button::before, .exit-button::after{
    position: absolute;
    width: 30px;
    height: 5px;
    transform: translate(0, 13px) rotate(45deg);
}

.exit-button::after{
    transform: translate(0, 13px) rotate(-45deg);
}

.home-button{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;

    width: 50px;
    height: 50px;
    padding: 20px;

    cursor: pointer;
}

.credits-button {
    position: absolute;
    bottom: 10%;
    right: 10px;
    font-size: 60px;
    text-shadow: 0 0 10px black;
}

.swiper-wrapper .credits{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;

    transition: height 0.5s ease-in-out,
        opacity 0.3s ease-in,
        opacity 0.3s ease-out 0.2s;
    color: black;
    background-color: #FFD8B3;
    overflow: scroll;
}

/* Format des titres */
h1{
    color: #482E49;
    font-family: "Krona One", sans-serif;
    font-size: 25px;
}

h2{
    color: #482E49;
    font-family: "Krona One", sans-serif;
    font-size: 18px;
}

/* Format des textes */
p{
    color: #E47754;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    padding: 10px 30px;
}

li{
    list-style: none;
    color: #E47754;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    padding: 0 30px;
}

span{
    font-weight: bold;
}

/* Format des pages */
#histoire-page, #jo-page, #credits-page{
    text-align: center;
    padding: 0 10px;
}

#histoire-page h1, #jo-page h1, #credits-page h1{
    margin: 10px 0;
}

#histoire-page h2, #credits-page h2{
    margin: 20px 0;
}

.image-histoire, .image-jo, .image-credits{
    display: block;
    margin: 0 auto;
    width: 30%;
    max-width: 40%;
}

svg.image-histoire, svg.image-jo{
    width: 20%;
    max-width: 40%;
}


#chemin1{
    margin-right: 20%;
    width: 30%;
    height: auto;
    margin-bottom: -10%;
}

#chemin2{
    width: 60%;
    height: auto;
}

#histoire-header, #credits-header{
    position:sticky;
    top: 0;
    padding-top: 10px;
    background-color: rgba(255, 216, 179, 0.9);
    margin-bottom: 20px;
}

#histoire-header > img {
    padding: 10px;  
}

.image-titre{
    max-width: 40%;
}

#palmares-page .svg-boucle{
    position: absolute;
    top : 0;
    width: 50%;
}
#palmares-page {
    background-color: #FFD8B3;
    font-family: "Krona_One variant0";
}
#palmares-page .palmares-container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#palmares-page #titre-palmares {
    margin: 2.5% auto 0 auto;
}
#palmares-page .image-titre{
    margin-bottom: 5%;
    width: 20%;
    max-width: 40%;

}
#palmares-page .card-container {
    width: 80vw;
    height: 15vh;
    max-height: 10%;
    max-width: 80%;
    perspective: 90vw;
    margin: 2.5% 10% 2.5% 10%;
}
#palmares-page .flipcard {
    transform: rotateY(180deg);
}
#palmares-page .doigt-gif{
    position: absolute;
    height: 100%;
    z-index : 2;
    right: 0;
    top: 40%;
}
#palmares-page .card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    z-index: 1;

}

#palmares-page .card-front,
#palmares-page .card-back {
    display: table;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #E47754;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    border-radius: 10px;
}

#palmares-page .card-front {
    background-color: #E47754;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color : #FFF9F9;
}

#palmares-page .card-back {
    background-color: transparent;
    transform: rotateY(180deg);
    align-items: center;
}
#palmares-page .card-front-palmares-titre{
    margin: 2% 0 2% 0;
    font-size: 1.8vh;
}
#palmares-page .card-palmares-titre{
    margin: 2% 0 2% 0;
    color: #E47754;
    font-size: 1.8vh;
}
#palmares-page .card-palmares-texte{
    font-size: 1.5vh;
}

#credits-chemin1{
    position: fixed;
    top: 0;
    left: 0;
}

#credits-chemin2{
    width: 18%;
}

#credits-chemin3{
    width: 10%;
}

#credits-chemin4{
    width: 12%;
    position: absolute;
    right: 20%;
    margin-top: -10%;
}

.credits-list{
    display: flex;
    flex-direction: row;
    margin: 0 30px;
}

.credits-list > li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0;
    padding: 0;
}

.credits-list > li > .credits-list-content{
    width: 90%;
    margin: 0;
    padding: 10px;
    height: auto;
}

.credits-list-license{
    margin: 0 auto;
}

.logo-licence{
    width: 20%;
    height: auto;
    vertical-align: middle;
}

#jo-header {
    position:sticky;
    top: 0;
    background-color: rgba(255, 216, 179, 0.9);
    margin-bottom: 10px;
    padding-top: 10px;
}

#jo-contenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
}

.jo-card-container {
    perspective: 800px;
    margin: 0% 10% 3% 10%;
}

.jo-card {
    display: table;
    width: 370px;
    height: 100px;
    border-radius: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jo-card-titre, .jo-card-texte {
    margin: 2% 0 2% 0;
    padding: 2%;
    color: rgba(255, 216, 179, 0.9);
    border: #E47754 solid 1px ;
    background-color: #E47754;
    border-radius: 15px;
    max-width: 80%;
}

.jo-card-titre {
    position: absolute;
    top: 20px;
}

.jo-card-texte {
    position: absolute;
    bottom: 15px;
    opacity: 90%;
}

.actif {
    max-height: 60vh;
    height: 100%;
}

.actif .jo-card{
    height: 100%;
    margin-bottom: 10px;
}