#page-accueil{
    width: 100%;
    height:100%;
    background-image: url("../img/home-page/quartier.svg");
    background-repeat: no-repeat;
    background-color: #FCF3EC;
    background-size: 120%;
    position : absolute;
    background-position: top 17% center;
}

#page-accueil header{
    text-align: center;
    width: 100%;
    top: 3%;
    position: absolute;
    font-size: 35%;
    z-index: 2;
    color: #000000;
}

#page-accueil header p:last-child{
    font-family: 'AlwaysInMyHeart','Montserrat', sans-serif;
}

#introduction{
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 2;
    color: #000000;
    padding: 1px;
    font-size: 25%;
    bottom : max(14%, 6.2em);
    background-color: #FCF3ECB7;
}


#bouton-decouvrir{
    cursor: pointer;
    position : absolute;
    width: 40%;
    bottom: 0;
    left: 30%;
}

#bouton-decouvrir img{
    width: 100%;
}