/* -------------- Loader --------------*/
#loader{
    z-index: 2;
    position:absolute;
}

#loader-img{
    top:40%;
    left:40%;
    position: absolute;
}

#loader-text{
    text-align: center;
    font-size: 25%;
    position: absolute;
    top:60%;
    width: 100%
}
/* -------------- End of Loader --------------*/

#page-accueil header{
    text-align: center;
    width: 100%;
    top: 3%;
    position: absolute;
    font-size: 35%;
    z-index: 2;
    color: #000000;
}

#page-accueil header p:last-child{
    font-family: 'AlwaysInMyHeart','Montserrat', sans-serif;
}

#introduction{
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 2;
    color: #000000;
    font-size: 25%;
    bottom : 15%;
}


#bouton-decouvrir{
    cursor: pointer;
    position : absolute;
    width: 40%;
    left : 30%;
    bottom: 0;
}

#bouton-decouvrir img{
    width: 100%;
}

#page-accueil{
    width: 100%;
    height:100%;
    background-image: url("../img/home-page/quartier.svg");
    background-repeat: no-repeat;
    background-color: #FCF3EC;
    background-size: 120%;
    position : absolute;
    background-position: top 17% center;
    overflow: hidden;
}