/* à supprimer et mettre dans un fichier css commun à toutes les pages */

.content{
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAE6D7;
}

/* code propre à la page */
.name-person {
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    color: black;
    font-family: 'AlwaysInMyHeart','Montserrat', sans-serif;
}

/* header */
.header{
    position: relative;
    width: 100%;
    margin-top: 2%;
}

.header-devanture{
    width: 100%;
}

.head-person{
    position: absolute;
    width: 25%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .name-person {
    margin-top: 10%;
}
/* audio */
.audio-div{
    margin: 5%;
    width: 70%;
    height: auto;
}

.illu-initiative{
    width: 100%;
}

.text-initiative{
    color: black;
    font-size: 0.3em;
    width: 80%;
    margin: 4%;
}

.question{
    color: black;
    font-size: 0.2em;
    display: flex;
    flex-direction: column;
    margin: 8.5%;
}

.question p{
    font-size: 1.5em;
    font-weight: bold;
}

.question-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.question-buttons img{
    width: 40%;
    height: auto;
}

/* map motion */
.map-motion{
    width: 70%;
    height: auto;
    margin-top: 5%;
    border: 1px solid black;
}

/* boutons */
.link-buttons{
    color: black;
    font-size: 0.2em;
    display: flex;
    flex-direction: column;
    width: 70%;
    cursor: pointer;
}

.link-buttons-img{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.link-buttons-img a {
    width: 40%;
    height: auto;
}

.link-buttons-img img{
    width: 100%;
    height: auto;
}

/*nav buttons*/
.nav-buttons{
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.question-buttons div  {
    height: auto;
    width: 30%;
    cursor: pointer;
    z-index: 6000;
    position: relative;
}
.question-buttons div::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.previous, .next {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 50%;
    height: auto;
}

.previous{
    justify-content: start;
}

.next{
    justify-content: end;
}

.hidden-previous{
    visibility: hidden;
    width: 50%;
    cursor: none;
}

.next img{
    right: 0.25em;
    bottom: 0;
    width: 25%;
    margin: 2%;
}

.previous img{
    left: 0.25em;
    bottom: 0;
    width: 25%;
    margin: 2%;
}

.right-arrow {
    transform: rotate(180deg);
}
