/* à supprimer et mettre dans un fichier css commun à toutes les pages */

#container {
    background-color: #FCF3EC;
}

main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
/* code propre à la page */
#main-title-stories {
    margin-top: 4vh;
    font-size: 0.3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.5vh;
    color: black;
    position: absolute;
    top: 0;
    left: 25%;
    right: 25%;
    z-index: 5;
}

#mainSwiperHomeStories{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.5em;
    height: 100% !important;
    z-index: 6;
}
#mainSwiperHomeStories div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#mainSwiperHomeStories .story{
    width: 32%;
}

#mainSwiperHomeStories .swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Swiper slider. Need to fill the container */
#mySwiper, #swiperHomeStories{
    position: absolute;
    z-index: 5;
    top: 0;
    width: 100%;
    height:100%;
    overflow: inherit;
}
.swiper-wrapper{
    width: 100%;
}


/* the slides and the loader should fill the whole 9:16 zone */
.swiper-wrapper section{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    width: 100%;

}

#recap_button{
    width: 20%;
    cursor: pointer;
    position: absolute;
    z-index: 100;
}


footer {
    position: absolute;
    bottom: 0;
    z-index: 6;
    margin-top: 5%;
    width:100%;
    background-color: #FCF3EC;
    font-size: 20%;
    border-top: 2px solid black;
    cursor: pointer;
}


footer p{
    color: black;
    display: flex;
    justify-content: center;
}

footer p:first-child{
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: bold;
}

footer p:last-child{
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 15px;
}

#swipe_invite{
    position: absolute;
    bottom: 50%;
    top: 50%;
    right: 10px;
    height: 8%;
    width: 8%;
    z-index: 6;
    cursor: pointer;
}
#swipe_invite img{
    width: 100%;
    transform: rotate(180deg);
}