/* à supprimer et mettre dans un fichier css commun à toutes les pages */

#container {
    background-color: #FAE6D7;
}

main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
/* code propre à la page */
#main-title-stories {
    margin-top: 4vh;
    font-size: 0.3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.5vh;
    color: black;
}

#stories{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.5em;
}
#stories img{
    width: 32%;
}


/* Swiper slider. Need to fill the container */
#mySwiper{
    position: absolute;
    z-index: 5;
    top: 0;
    width: 100%;
    height:100%;
    overflow: inherit;
}
.swiper-wrapper{
    width: 100%;
}


/* the slides and the loader should fill the whole 9:16 zone */
.swiper-wrapper section{
    background-color: dodgerblue;
    width: 100%;
    height: 100%;
}
.swiper-slide{
    width: 100%;

}


#bandeau {
    width:100%;
    background-color: #FCF3EC;
    font-size: 20%;
    border-top: 2px solid black;
}

#bandeau a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 15px;
}

#bandeau p{
    color: black;
    display: flex;
    justify-content: center;
}

#bandeau p:first-child{
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: bold;
}
#bandeau p:first-child:hover{
    cursor: pointer;
}

#bandeau p:last-child{
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 15px;
}