/* à supprimer et mettre dans un fichier css commun à toutes les pages */

#container {
    background-color: #FAE6D7;
}

#back_button{
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    margin-top: 1vh;
    margin-left: 1vh;
}

/* code propre à la page */
#name-initiative {
    margin-top: 4vh;
    font-size: 0.3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.5vh;
    color: black;
}

#text-initiative{
    color: black;
    font-size: 0.3em;
}

#question{
    color: black;
    font-size: 0.2em;
}
#nav-buttons{
    display: flex;
    justify-content: space-between;
}

#left-button, #right-button {
    display: flex;
    align-items: center;
}

#nav-buttons img {
    height: 100%;
    width: 100%;
}

#right-arrow {
    transform: rotate(180deg);
}
