* {
    margin: 0;
    padding: 0;
    font-family: 'Antonio', sans-serif;
    line-height : 90%;
}

body {
    background-color: black;
    overflow: hidden;
}

#phone {
    background-color: white;
    position: fixed;
    height: 100%;
    margin-left: calc((100vw - 100 * 3vh / 5) / 2);
    width: calc(100 * 3vh / 5);
}

nav {
    background-color: #E20917;
    height: 10%;
}

#menu-modal{
    position: absolute;
    width: 8vh;
    height: 10%;
    padding-left: 2rem;
    cursor: pointer;
}

nav img {
    height: 100%;
    width: 100%;
    color: white;
}

#blank {
    height: 85%;
    /* width: 100%; */
    overflow: hidden;
    overflow-y: auto;
}

#retour {
    position: absolute;
    left: 5%;
    z-index: 3;
    width: 3.5rem;
    cursor: pointer;
    top:12.5%;
}

#divTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4%;
}

.title {
    width: 50%;
    text-align: center;
    font-family: 'Antonio', sans-serif;
    font-size: 6vh;
    font-weight: 400;
}

iframe {
    z-index: -1;
    padding-top: 20%;
    width: 100%;
    height: 80%;
}

footer {
    position : absolute;
    background-color: #E209174D;
    height: 8%;
    width: 100%;
    font-size: xx-small;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
  width: 100%;
  height:100%;
  position: absolute;
}

#titleHome {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/* #modal{
} */

.modal{
    position: fixed;
    height: 100%;
    margin-left: calc((100vw - 100 * 3vh / 5) / 2);
    width: calc(100 * 3vh / 5)!important;
}

.modal-dialog{
    margin:0!important;
    width: 75%!important;
    height: 50%;
}

.modal-content{
    height: 100%;
    padding-left: 1.5vh;
    font-weight: 600;
}

.modal-body{
    background-color: #FFCE42;
    padding: 0!important;  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}

#modal-header{
    padding-top: 2vh;
    padding-left: 4vh;
    padding-right: 4vh;
    padding-bottom: 4vh;
    display: flex;
    justify-content: space-between;
}

#retour-modal{
    cursor: pointer;
}

.modal-activite{
    padding-top : 1rem;
    padding-left : 1rem;
    padding-bottom : 1rem;
    margin-bottom:2rem;
    background-color: white;
}
#actu, #credits {
    cursor: pointer;
}

.fade-out {
    transition: opacity 1s ease; 
}

/* Styles pour le modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.9); Fond semi-transparent */
  }
  
/* Style carousel page sport */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-button-next {
    padding-right: 5vw!important;
    color: rgba(20, 20, 86, 0.8)!important;
    
}

.swiper-button-prev {
    padding-left: 5vw!important;
    color: rgba(20, 20, 86, 0.8)!important;
}

.mySwiper {
    height: 50%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin-right: 5%; */

    width: 100%;
    height: 100%;
  }

  .swiper-slide:nth-child(2n) {
    width: 40%;
  }

  .swiper-slide:nth-child(3n) {
    width: 20%;
  }

 .pagin{
    position: unset !important;
 }

.swiper-slide div {
    /* Assurez-vous que la div interne n'introduit pas de marges ou de largeurs indésirables */
    margin: 0;
    width: 100%;
    /* background-color: rgba(255, 206, 66, 0.6);  */
}

.swiper-slide video {
    display: block;
    width: 80%;
    height: 80%;
    object-fit: cover;
  }

/* removing blue outline from buttons */
button:focus, button:active {
   outline: none;
}

#divTitleAthlete {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4%;
}
.ele_fleche{
    width:60px;
    transform: rotate(70deg);
    /* z-index: 2; */
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -85px;
    margin-left: 150px;
}
.ele_sardine{
    width:80px;
    transform: rotate(17deg);
    /* z-index: 2; */
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -40px;
    margin-left: 400px;
}
.nom_div_pg_at{
    text-align: center; 
    width: 100%;
    margin-top: 30px;
    margin-bottom: 80px;
}
.img_div_pg_at{

    text-align: center; 
    width: 100%;
}
.img_at_pg_at {
    width:70%;
    margin: 0 auto;
}
.text_pg_at{
    width: 80%;
    margin-top:50px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
}
.text2_pg_at {
    margin-bottom: 30px;
    font-weight: bold;
    margin-top: 60px;
    margin-left: 80px;
}

.text3_pg_at {
    margin-bottom: 30px;
    font-weight: bold;
    margin-top: 80px;
    text-align: center;
}

.box_p_c{
    margin-bottom: 30px;
    width: 90%;
    margin-left: 5%;
    font-weight: bold;
}

.next-athlete-div{
    text-align: center; 
    cursor:pointer; 
    background-color : #141456;
    color : white;
    margin-left : 26% ; 
    width : 50% ; 
    font-size : 30px;  
}
  