* {
    margin: 0;
    padding: 0;
    font-family: 'Antonio', sans-serif;
    line-height : 90%;
}

body {
    background-color: black;
    overflow: hidden;
}

#phone {
    background-color: white;
    position: fixed;
    height: 100%;
    margin-left: calc((100vw - 100 * 3vh / 5) / 2);
    width: calc(100 * 3vh / 5);
}

nav {
    background-color: #E20917;
    height: 10%;
}

#menu-modal{
    position: absolute;
    width: 4rem;
    height: 10%;
    padding-left: 2rem;
    cursor: pointer;
}

nav img {
    height: 100%;
    width: 100%;
    color: white;
}

#blank {
    height: 85%;
    /* width: 100%; */
}

#retour {
    position: absolute;
    left: 5%;
    z-index: 3;
    width: 3.5rem;
    cursor: pointer;
    top:12.5%;
}

#divTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4%;
}

#titleSport {
    width: 60%;
    text-align: center;
    font-family: 'Antonio', sans-serif;
    font-size: xxx-large;
}

iframe {
    z-index: -1;
    padding-top: 20%;
    width: 100%;
    height: 80%;
}

footer {
    background-color: #E209174D;
    height: 5%;
    width: 100%;
    font-size: xx-small;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
  width: 100%;
  height:100%;
  position: absolute;
}

#titleHome {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#modal{
}

.modal{
    position: fixed;
    height: 100%;
    margin-left: calc((100vw - 100 * 3vh / 5) / 2);
    width: calc(100 * 3vh / 5)!important;
}

.modal-dialog{
    margin:0!important;
    width: 75%!important;
    height: 50%;
}

.modal-content{
    height: 100%;
}

.modal-body{
    background-color: #FFCE42;
    padding: 0!important;  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}

#modal-header{
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    
}

#retour-modal{
    cursor: pointer;
}

.modal-activite{
    padding-top : 1rem;
    padding-left : 1rem;
    padding-bottom : 1rem;
    margin-bottom:2rem;
    background-color: white;
}