/* Fichier: styles.css (ou le nom que vous avez choisi) */

/* Styles pour le conteneur de l'application */
.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Styles pour le titre de l'application */
.app h1 {
  color: #333;
}

/* Styles pour le carousel */
.carousel {
  margin-top: 20px;
}

.head{
  text-align: center;
}
.head img {
  width: 92.7px;
  height: 49.1px;
  flex-shrink: 0;
}
/* Styles pour les captions du carousel */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour les captions */
  padding: 10px;
  color: #fff;
}

/* Styles pour les titres des slides */
.carousel-caption h3 {
  font-size: 1.5em;
}

/* Styles pour le texte des slides */
.carousel-caption p {
  font-size: 1em;
}
