<div class="background" style="left: 0%">
  <img src="img/background/fond vrai.jpg" alt="background" width="100%"  style="z-index: -999;">

  <!-- éléments pour montrer où cliquer doivent être chargés en premiers -->
  <div style="left : 0; right: 0; margin: auto; transform: translate(0%, -288%);">
    <img src="img/background/clickables/coupe.png" alt="background" width="15%" style="z-index: -9;" class="growing">
  </div>
  <div style="left : 0; right: 0; margin: auto; transform: translate(0%, -51%);">
    <img src="img/background/clickables/histoire.png" alt="background" width="18%" style="z-index: -9;" class="growing">
  </div>
  <div style="left : 0; right: 0; margin: auto; transform: translate(20.2%, -115%);">
    <img src="img/background/clickables/mouvement.png" alt="background" width="16%" style="z-index: -9;" class="growing">
  </div>
  <div style="left : 0; right: 0; margin: auto; transform: translate(82.8%, 5.5%);">
    <img src="img/background/clickables/journee type.png" alt="background" width="17.2%" style="z-index: -9;" class="growing">
  </div>
  <div style="left : 0; right: 0; margin: auto; transform: translate(70.7%, -238%);">
    <img src="img/background/clickables/jeux olympique.png" alt="background" width="17%" style="z-index: -9;" class="growing">
  </div>

  <!-- éléments décoratifs à charger ensuite car pas présent dans l'image grand format -->
  <img src="img/background/décorations/ARRIERE.png" alt="background" width="30.5%"  style="z-index: -11; left : 0; right: 0; margin: auto; transform: translate(0.5%, -91%);">
  <img src="img/background/décorations/AVANT.png" alt="background" width="34.6%"  style="z-index: -9; left : 0; right: 0; margin: auto; transform: translate(-0.5%, -67%);">
  <img src="img/background/décorations/ECHELLE.png" alt="background" width="4%"  style="z-index: -11; left : 0; right: 0; margin: auto; transform: translate(1130%, -47%);">
  <img src="img/background/décorations/ESTRADE.png" alt="background" width="18%"  style="z-index: -11; left : 0; right: 0; margin: auto; transform: translate(-230%, -130%);">
  <img src="img/background/décorations/MATELAS.png" alt="background" width="39.7%"  style="z-index: -11; left : 0; right: 0; margin: auto; transform: translate(1%, -365%);">
  <img src="img/background/décorations/MATELASMUR.png" alt="background" width="28.7%"  style="z-index: -12; left : 0; right: 0; margin: auto; transform: translate(82%, -141.3%);">

  <!-- Chargement de la gif en tout dernier pour éviter les problèmes surtout liés à sa taille -->
  <img src="img/background/décorations/Master Animation Gymnaste.gif" alt="background" width="38.5%" style="z-index: -10; left : 0; right: 0; margin: auto; transform: translate(-8.3%, -12.5%);">
</div>