<div class="background-container">
<div class="background" style="left: 50%;">

  <div class="container"> <!-- YES I KNOW I AM CHEATING HERE. I AM NOT SORRY I DID IT MORE THAN TWENTY TIMES AND IT SHOULD BE FINISHED BY NOW. -->
    <img src="img/background/frame.jpg" alt="background" width="100%" style="opacity: 0; display: block;">

    <!-- éléments pour montrer où cliquer doivent être chargés en premiers -->
    <div style="left : 0; right: 0; transform: translate(186%, -1588%); z-index: -9; width: 10.8%; height: 3.09%;">
      <img src="img/background/clickables/son.png" alt="" width="100%" height="100%" class="growing">
    </div>
    <div style="left : 0; right: 0; transform: translate(0%, -345%); z-index: -9; width: 14.8%; height: 14.23%;">  
      <img src="img/background/clickables/coupe.png" alt="" width="100%" height="100%" class="growing">
    </div>
    <div style="left : 0; right: 0; transform: translate(0%, -69%); z-index: -9; width: 17.6%; height: 16.3%;">
      <img src="img/background/clickables/histoire.png" alt="" width="100%" height="100%" class="growing">
    </div>
    <div style="left : 0; right: 0; transform: translate(232.7%, -175%); z-index: -9; width: 8.9%; height: 16.9%;">
      <img src="img/background/clickables/mouvement.png" alt="" width="100%" height="100%" class="growing">
    </div>
    <div style="left : 0; right: 0; transform: translate(477.8%, 1%); z-index: -9; width: 17.3%; height: 32.7%;">
      <img src="img/background/clickables/journee type.png" alt="" width="100%" height="100%" class="growing">
    </div>
    <div style="left : 0; right: 0; transform: translate(411%, -265%); z-index: -9; width: 17.2%; height: 20.9%;">
      <img src="img/background/clickables/jeux olympique.png" alt="" width="100%" height="100%" class="growing">
    </div>

    <!-- éléments décoratifs à charger ensuite car pas présent dans l'image grand format -->
    <div style="left : 0; right: 0; transform: translate(114.4%, -91%); z-index: -11; height: 24.9%; width: 30.5%;">
      <img src="img/background/décorations/ARRIERE.png" alt="" width="100%" height="100%" class="background-move-med">
    </div>
    <div style="left : 0; right: 0; transform: translate(94.8%, -68%); z-index: -9; height: 27.3%; width: 34.5%;">
      <img src="img/background/décorations/AVANT.png" alt="" width="100%" height="100%" class="background-move-med">
    </div>
    <div style="left : 0; right: 0; transform: translate(77.5%, -369%); z-index: -11; height: 4.9%; width: 39.7%;">
      <img src="img/background/décorations/MATELAS.png" alt="" width="100%" height="100%" class="background-move-med">
    </div>
    <div style="left : 0; right: 0; transform: translate(206.6%, -139%); z-index: -12; height: 19%; width: 28.7%;">
      <img src="img/background/décorations/MATELASMUR.png" alt="" width="100%" height="100%" class="background-move-high">
    </div>
    <div style="left : 0; right: 0; transform: translate(65%, -45.5%); z-index: -10; height: 47%; width: 43%;">
      <img src="img/background/décorations/Master Animation Gymnaste.gif" alt="" width="100%" height="100%" class="background-move-med">
    </div>
    <div style="left : 0; right: 0; transform: translate(2328%, -45.9%); z-index: -11; height: 68.7%; width: 4%;">
      <img src="img/background/décorations/ECHELLE.png" alt="" width="100%" height="100%" class="background-move-high">
    </div>
    <div style="left : 0; right: 0; transform: translate(0, -134%); z-index: -11; height: 15%; width: 17.6%;">
      <img src="img/background/décorations/ESTRADE.png" alt="" width="100%" height="100%" class="background-move-high">
    </div>

  </div>  

  <img src="img/background/fond vrai.jpg" alt="" width="100%"  style="z-index: -999;" class="background-move-low">
</div>
</div>