<div class="background" style="left: 0%">
  <img src="img/background/fond vrai.jpg" alt="fond" width="100%"  style="z-index: -999;" class="background-move-low">

  <!-- éléments pour montrer où cliquer doivent être chargés en premiers -->
  <div style="left : 0; right: 0; margin: auto; transform: translate(0%, -288%);">  
    <img src="img/background/clickables/coupe.png" alt="coupe" width="15%" style="z-index: -9;" class="growing">
  </div>
  <div style="left : 0; right: 0; margin: auto; transform: translate(0%, -51%);">
    <img src="img/background/clickables/histoire.png" alt="histoire" width="18%" style="z-index: -9;" class="growing">
  </div>
  <div style="left : 0; right: 0; margin: auto; transform: translate(20.7%, -148%);">
    <img src="img/background/clickables/mouvement.png" alt="mouvement" width="8.9%" style="z-index: -9;" class="growing">
  </div>
  <div style="left : 0; right: 0; margin: auto; transform: translate(20.2%, -500%);">
    <img src="img/background/clickables/son.png" alt="son" width="10.6%" style="z-index: -9;" class="growing">
  </div>
  <div style="left : 0; right: 0; margin: auto; transform: translate(82.8%, 5.5%);">
    <img src="img/background/clickables/journee type.png" alt="journee" width="17.2%" style="z-index: -9;" class="growing">
  </div>
  <div style="left : 0; right: 0; margin: auto; transform: translate(70.7%, -238%);">
    <img src="img/background/clickables/jeux olympique.png" alt="jeux" width="17%" style="z-index: -9;" class="growing">
  </div>

  <!-- éléments décoratifs à charger ensuite car pas présent dans l'image grand format -->
  <img src="img/background/décorations/ARRIERE.png" alt="ARRIERE" width="30.5%"  style="z-index: -11; left : 0; right: 0; margin: auto; transform: translate(0.7%, -90.2%);" class="background-move-med">
  <img src="img/background/décorations/AVANT.png" alt="AVANT" width="34.6%"  style="z-index: -9; left : 0; right: 0; margin: auto; transform: translate(-0.3%, -67%);" class="background-move-med">
  <img src="img/background/décorations/ECHELLE.png" alt="ECHELLE" width="4%"  style="z-index: -11; left : 0; right: 0; margin: auto; transform: translate(1130%, -47%);" class="background-move-high" loading="lazy">
  <img src="img/background/décorations/ESTRADE.png" alt="ESTRADE" width="18%"  style="z-index: -11; left : 0; right: 0; margin: auto; transform: translate(-230%, -133%);" class="background-move-high" loading="lazy">
  <img src="img/background/décorations/MATELAS.png" alt="MATELAS" width="39.7%"  style="z-index: -11; left : 0; right: 0; margin: auto; transform: translate(1%, -365%);" class="background-move-med">
  <img src="img/background/décorations/MATELASMUR.png" alt="MATELASMUR" width="28.7%"  style="z-index: -12; left : 0; right: 0; margin: auto; transform: translate(82%, -141.3%);" class="background-move-high">

  <!-- Chargement de la gif en tout dernier pour éviter les problèmes surtout liés à sa taille -->
  <img src="img/background/décorations/Master Animation Gymnaste.gif" alt="Master" width="38.5%" style="z-index: -10; left : 0; right: 0; margin: auto; transform: translate(-8.3%, -12.5%);" class="background-move-med">
</div>