<div id="credits-page" class="credits" style="height: 0; opacity: 0.4;">
    <br><br>
    <div id="credits-header">
        <img src="img/logos/logo_hyblab.png" class="image-credits image-titre">
        <h1>Crédits</h1>
    </div>

    <div>
        <h2>Porteur de projet</h2>
        <img src="img/logos/logo_la-nouvelle-republique.png" class="image-credits">
        <p>Le journal <span>La Nouvelle République</span>, représenté par <span>Paul VUILLEMIN</span></p>

        <h2>Partenaires</h2>
        <ul class="credits-list">
            <li>
                <img src="img/logos/logo_oml.png" class="logo-partenaire">
            </li>
            <li>
                <img src="img/logos/ecoles/logo_nantesuniversite.png" class="logo-partenaire">
            </li>
            <li>
                <div class="logo-partenaire"><img src="img/logos/ecoles/logo_agr.png"></div>
                <div class="logo-partenaire"><img src="img/logos/ecoles/logo_epjt.svg"></div>
            </li>
            <li>
                <div class="logo-partenaire"><img src="img/logos/ecoles/logo_polytech.png"></div>
                <div class="logo-partenaire"><img src="img/logos/ecoles/logo_sciencespo.svg"></div>
            </li>
            <li>
                <img src="img/logos/institutionnels/logo_nantesmetropole.png" class="logo-partenaire">
            </li>
        </ul>

        <h2>Conçu et réalisé par<br>"La MezzaGym"</h2>
        <ul>
            <li>Laure BOUDAUD</li>
            <li>Bastien BAUDOUIN</li>
            <li>Guillaume POLIZZI</li>
            <li>Léo LECLERC</li>
            <li>Octave DAUDIN</li>
            <li>Clémence FABER</li>
            <li>Mathys BENARD</li>
            <li>Victoire RENARD DEWYNTER</li>
            <li>Juliette PIROT-BERSON</li>
        </ul>

        <h2>Licences</h2>
        <ul class="credits-list">
            <li>
                <img src="img/logos/logo_opensource.png" class="logo-licence">
                <img src="img/logos/logo_cc.png" class="logo-licence">
            </li>
        </ul>
        <p>Tous les contenus ont été réalisés sous une licence ouverte : leur diffusion est libre.</p>
    </div>

    <br><br>
</div>