<div id="credits-page" class="credits" style="height: 0; opacity: 0.4;">
    <div id="credits-header">
        <img src="img/chemins/chemin1.svg" id="credits-chemin1">

        <img src="img/logo merguez.svg" class="image-credits image-titre">
        <h1>CRÉDITS</h1>
    </div>
    
    <div><img src="img/logos/logo_hyblab.png" class="image-credits"></div>

    <h2>Remerciements au porteur de projet</h2>
    <ul class="credits-list">
        <li>
            <img src="img/logos/logo_la-nouvelle-republique.png">
            <p>Représenté par Paul VUILLEMIN</p>
        </li>
        <li>
            <p>Le journal La Nouvelle République</p>
            <div><img src="img/chemins/chemin2.svg" id="credits-chemin2"></div>
        </li>
    </ul>

    <h2>Remerciements aux partenaires</h2>
    <div><img src="img/logos/logo_oml.png"></div>
    <div><img src="img/logos/ecoles/logo_nantesuniversite.png"></div>
    <div><img src="img/logos/institutionnels/logo_nantesmetropole.png"></div>

    <div><img src="img/chemins/chemin3.svg" class="image-credits"></div>

    <h2>Remerciements aux écoles et créateurs du site mobile<br>"La MezzaGym"</h2>
    <div>
        <div><img src="img/logos/ecoles/logo_epjt.svg"></div>
        <p>Victoire RENARD DEWYNTER</p>
    </div>
    <div>
        <div><img src="img/logos/ecoles/logo_sciencespo.svg"></div>
        <p>Juliette PIROT-BERSON</p>
    </div>
    <div><img src="img/logos/ecoles/logo_agr.png"></div>
    <p>Clémence FABER<br>Mathys BENARD</p>
    <div><img src="img/logos/ecoles/logo_polytech.png"></div>
    <p>Laure BOUDAUD<br>Bastien BAUDOUIN<br>Guillaume POLIZZI<br>Léo LECLERC<br>Octave DAUDIN</p>

    <h2>Crédits photographiques</h2>
    <p>Remerciements à l'AFP,<br>Thomas SCHREYER,<br>Stéphanie NEMOUR,<br></p>

    <h2>Licences</h2>
    <div><img src="img/chemins/chemin4.svg" class="image-credits"></div>
    <ul class="credits-list">
        <li>
            <img src="img/logos/logo_opensource.png" class="logo-licence">
            <img src="img/logos/logo_cc.png" class="logo-licence">
        </li>
    </ul>
    <p>Tous les contenus ont été réalisés sous une licence ouverte : leur diffusion est libre.</p>
    
    <img src="img/widget/close.svg" class="home-button">

    <br><br>
</div>