<div id="credits-page" class="credits" style="height: 0; opacity: 0.4;">
    <br><br>
    <div id="credits-header">
        <img src="img/logos/logo_hyblab.png" class="image-credits image-titre">
        <h1>Crédits</h1>
    </div>

    <div>
        <h2>Porteur de projet</h2>
        <img src="https://www.lanouvellerepublique.fr/_next/static/media/logo.2294da2a.svg" class="image-credits">
        <p>Le journal <span>La Nouvelle République</span>, représenté par <span>Paul VUILLEMIN</span></p>

        <h2>Partenaires</h2>
        <ul id="credits-list">
            <li>
                <img src="img/logos/logo_oml.png" width="150">
            </li>
            <li>
                <img src="img/logos/institutionnels/logo_nantesmetropole.png" width="150">
                <img src="img/logos/ecoles/logo_nantesuniversite.png" width="150">
            </li>
            <li>
                <img src="img/logos/ecoles/logo_agr.png" height="50">
                <img src="img/logos/ecoles/logo_epjt.svg" width="150">
            </li>
            <li>
                <img src="img/logos/ecoles/logo_polytech.png" height="50">
                <img src="img/logos/ecoles/logo_sciencespo.svg" width="150">
            </li>
        </ul>

        <h2>Créateurs<br>"La MezzaGym"</h2>
        <ul>
            <li>Laure BOUDAUD</li>
            <li>Bastien BAUDOUIN</li>
            <li>Guillaume POLIZZI</li>
            <li>Léo LECLERC</li>
            <li>Octave DAUDIN</li>
            <li>Clémence FABER</li>
            <li>Mathys BENARD</li>
            <li>Victoire RENARD DEWYNTER</li>
            <li>Juliette PIROT-BERSON</li>
        </ul>

        <h2>Licences</h2>
        <ul id="credits-list">
            <li>
                <img src="img/logos/logo_opensource.png" width="50">
                <img src="img/logos/logo_cc.png" width="50">
            </li>
        </ul>
    </div>

    <br><br><br><br>
</div>