<div id="histoire-page" class="category-page swiper" style="bottom: 50%; left: 50%; width: 0; height: 0; border-radius: 50%; overflow: hidden; opacity: 0;">
  <div id="histoire-header">
    <img src="img/logo merguez.svg" class="image-histoire image-titre" alt="logo histoire" loading="lazy">
    <h1>HISTOIRE</h1>
  </div>

  <img src="img/histoire/gym2.svg" class="image-histoire" alt="gymnaste" loading="lazy">
  <h2>LE CLUB</h2>

  <p>La gymnaste franco-algérienne est licenciée au club d'Avoine-Beaumont depuis son plus jeune âge.</p>
  <p>Aux côtés de ses coachs Marc et Gina Chirilcenco, elle se spécialise aux barres asymétriques et devient championne de France de cet agrès en 2021, à 14 ans.</p>

  <svg width="110" height="222" viewBox="0 0 110 222" fill="none" xmlns="http://www.w3.org/2000/svg" class="image-histoire" id="chemin1">
    <path d="M56.5 2C123 57.5 143.2 131.1 2 219.5" stroke="#F08461" stroke-width="4" stroke-dasharray="8 8"/>
  </svg>
  <img src="img/histoire/Bequille2.svg" class="image-histoire" alt="béquille" loading="lazy">

  <h2>LES OBSTACLES</h2>
  <p>La même année, la gymnaste subit une opération des deux genoux pour soigner une ostéochondrite.</p>
  <p>Après huit mois de rééducation, son médecin l'autorise à reprendre la gym mais le médecin de la FFGym s'y oppose, sur fond de discorde entre la fédération et Avoine-Beaumont.</p>
  <p>Interdite de justaucorps bleu-blanc-rouge, Kaylia demande à concourir pour l'Algérie. Mais la FFGym refuse de la laisser partir, jusqu'au dernier moment...</p>

  <svg width="214" height="236" viewBox="0 0 214 236" fill="none" xmlns="http://www.w3.org/2000/svg" class="image-histoire" id="chemin2">
    <path d="M9.49998 1.5C-14 77.5 18.8 134.6 120 149C246.5 167 224 61.5 156.5 65C108.541 67.4868 47.5 128 96 235" stroke="#F08461" stroke-width="4" stroke-dasharray="8 8"/>
  </svg> 
  <img src="img/histoire/SAC2.svg" class="image-histoire" alt="sac" loading="lazy">

  <h2>SON ENVOL</h2>
  <p>La FFGym capitule à quelques jours des championnats d'Afrique. Kaylia Nemour se pare de l'or sous bannière algérienne puis devient vice-championne du monde aux barres asymétriques à Anvers en octobre 2023, où elle se qualifie pour les JO de Paris 2024.</p>

  <p></p>

  <br><br><br><br>
</div>