<div id="jo-page" class="category-page swiper" style="bottom: 50%; left: 50%; width: 0; height: 0; border-radius: 50%; overflow: hidden; opacity: 0;">
  <div id="jo-header">
    <img src="img/logo merguez.svg" class="image-jo image-titre">
    <h1>Quatre choses à savoir sur la gymnastique aux JO</h1>
  </div>

  <p>
    <h2>Quand ?</h2>
    <p>Aux JO de Paris, les épreuves de gymnastique se déroulent du 27 juillet au 5 août 2024.</p>

    <h2>Où ?</h2>
    <p>C’est l’Accor Arena de Bercy, lieu emblématique de la culture et du sport, qui accueillera les gymnastes pendant les JO 2024.</p>

    <h2>Quels agrès pour les femmes ?</h2>
    <p>La gymnastique artistique féminine comprend quatre agrès : les barres asymétriques, la poutre, le sol et le saut de cheval. Différents classements sont possibles lors des compétitions. Chaque gymnaste passe sur les quatres agrès et obtient une note. L’ensemble des notes constitue un classement individuel et par équipe. Un classement individuel spécifique à chaque agrès est également établi. C’est dans ce dernier que Kaylia Nemour à des chances de remporter une médaille olympique avec les barres asymétriques.</p>

    <h2>Le saviez-vous ?</h2>
    <p>Alors que la gymnastique masculine est présente depuis les premiers Jeux Olympiques de l’ère moderne, à Athènes en 1896, les épreuves de gymnastique féminine n’ont été intégrées qu’à partir de 1928, aux Jeux d’Amsterdam.</p>
  </p>
</div>