<div id="jo-page" class="category-page swiper" style="bottom: 65%; right: 50%; width: 0; height: 0; border-radius: 50%; overflow: hidden; opacity: 0;">
  <div id="jo-header">
    <img src="img/logo merguez.svg" class="image-jo image-titre">
    <h1>JEUX OLYMPIQUES 2024</h1>
  </div>

  <div class="card-container" id="card-quand">
    <div class="card" style="background-image: url('img/jo/samuel-svec-GI3LMSfBayQ-unsplash.jpg');">
      <h2 class="card-titre" >QUAND ?</h2>
      <p class="card-texte hidden">
        Aux JO de Paris, les épreuves de gymnastique se déroulent du 27 juillet au 5 août 2024.
      </p>
    </div>
  </div>

  <div class="card-container" id="card-ou">
    <div class="card" style="background-image: url('img/jo/samuel-svec-GI3LMSfBayQ-unsplash.jpg');">
      <h2 class="card-titre">OÙ ?</h2>
      <p class="card-texte hidden">
        C’est l’Accor Arena de Bercy, lieu emblématique de la culture et du sport, qui accueillera les gymnastes pendant les JO 2024. 
      </p>
    </div>
  </div>

  <div class="card-container" id="card-gym">
    <div class="card" style="background-image: url('img/jo/samuel-svec-GI3LMSfBayQ-unsplash.jpg');">
      <h2 class="card-titre">LA GYMNASTIQUE FÉMININE</h2>
      <p class="card-texte hidden">
        La gymnastique artistique féminine comprend quatre agrès : les barres asymétriques, la poutre, le sol et le saut de cheval. Différents classements sont possibles lors des compétitions. Chaque gymnaste passe sur les quatres agrès et obtient une note. L’ensemble des notes constitue un classement individuel et par équipe. Un classement individuel spécifique à chaque agrès est également établi. C’est dans ce dernier que Kaylia Nemour à des chances de remporter une médaille olympique avec les barres asymétriques.
      </p>
    </div>
  </div>

  <div class="card-container" id="card-anecdote">
    <div class="card" style="background-image: url('img/jo/samuel-svec-GI3LMSfBayQ-unsplash.jpg');">
      <h2 class="card-titre">LE SAVIEZ-VOUS ?</h2>
      <p class="card-texte hidden">
        Alors que la gymnastique masculine est présente depuis les premiers Jeux Olympiques de l’ère moderne, à Athènes en 1896, les épreuves de gymnastique féminine n’ont été intégrées qu’à partir de 1928, aux Jeux d’Amsterdam.
      </p>
    </div>
  </div>

</div>