<div id="journee-page" class="category-page swiper" style="bottom: 50%; left: 50%; width: 0; height: 0; border-radius: 50%; overflow: hidden; opacity: 0;">
    <div class="swiper" id="swiper_journee">
        <div  class="swiper-wrapper">
            <div class="swiper-slide">
                <svg id="journee_1_svg" xmlns="http://www.w3.org/2000/svg" width="165" height="102" viewBox="0 0 165 102" fill="none">
                    <path d="M0 -11C105.5 -11 149.5 66.5 123.5 80C93.1892 95.7383 78 31.5 167 31.5C256 31.5 263.5 101 263.5 101" stroke="#F08461" stroke-width="4" stroke-dasharray="8 8" />
                </svg>
                <img src="img/journee_type/kaylia_nemour.svg" id="Kaylia_Nemour_journee">
                <img id="journee_img" src="img/journee_type/journee_type_1.jpeg" alt="journee_type_1">
                <img src="img/journee_type/7h30.svg" alt="7h30" width="20%" style="position: absolute; bottom: 64%; left: 50%; transform: translate(-50%, 0);">
                <h1 id="journee_type" >JOURNÉE TYPE</h1>
                <p id="description_journee">Kaylia quitte sa maison familiale pour se rendre dans son club.  C’est l’heure de sa première séance d’entraînement qui dure jusqu’à 9h30. </p>
                <div id="barre_navigation_journee">
                    <svg  width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg" style="visibility : hidden;">
                        <path d="M15.6343 20.4231L2.00013 10.9616L15.6343 1.50002" stroke="#472D48" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <h2 id="categorie_journee">ENTRAINEMENT</h2>
                    <svg id="fleche_droite" width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg" style="padding: 10px 10px;">
                        <path d="M2 1.5L15.6341 10.9615L2 20.4231" stroke="#472D48" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <div class="swiper-slide">
                <svg id="journee_2_svg" width="192" height="74" viewBox="0 0 192 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M-81 72.3503C-2.25185 2.14365 82.1646 30.7113 71.7413 58.0902C59.5897 90.0085 5.5037 52.1672 71.9358 -7.05933C138.368 -66.2858 190.216 -19.4001 190.216 -19.4001" stroke="#F08461" stroke-width="4" stroke-dasharray="8 8"/>
                </svg>
                    
                <img src="img/journee_type/kaylia_nemour.svg" id="Kaylia_Nemour_journee">
                <img id="journee_img" src="img/journee_type/journee_type_2.png" alt="journee_type_1">
                <img src="img/journee_type/10h.svg" alt="7h30" width="20%" style="position: absolute; bottom: 64%; left: 50%; transform: translate(-50%, 0);">
                <h1 id="journee_type" >JOURNÉE TYPE</h1>
                <div id="description_journee">Sport de haut-niveau rime souvent avec scolarité adaptée. Kaylia suit ses cours de première générale par correspondance pendant deux heures chaque jour. </div> 
                <div id="barre_navigation_journee">
                    <svg id="fleche_gauche" width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg" style="padding: 10px 10px;">
                        <path d="M15.6343 20.4231L2.00013 10.9616L15.6343 1.50002" stroke="#472D48" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <h2 id="categorie_journee">ETUDES</h2>
                    <svg id="fleche_droite" width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg" style="padding: 10px 10px;">
                        <path d="M2 1.5L15.6341 10.9615L2 20.4231" stroke="#472D48" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <div class="swiper-slide">
                <svg id="journee_3_svg" width="76" height="128" viewBox="0 0 76 128" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M85 125.5C45 112 48 35 19.7959 35C-10.6029 35 3.53709 66 17 66C33.2041 66 51.2959 2 75.7959 0.499999" stroke="#F08461" stroke-width="4" stroke-dasharray="8 8"/>
                    </svg>
                    
                    
                <img src="img/journee_type/kaylia_nemour.svg" id="Kaylia_Nemour_journee">
                <img id="journee_img" src="img/journee_type/journee_type_3.png" alt="journee_type_1">
                <img src="img/journee_type/12h.svg" alt="7h30" width="20%" style="position: absolute; bottom: 64%; left: 50%; transform: translate(-50%, 0);">
                <h1 id="journee_type" >JOURNÉE TYPE</h1>
                <div id="description_journee">C’est l’heure de manger pour Kaylia. Elle profite aussi de ce temps du midi pour se reposer, car sa journée est loin d’être terminée. </div>
                <div id="barre_navigation_journee">
                    <svg id="fleche_gauche" width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg" style="padding: 10px 10px;">
                        <path d="M15.6343 20.4231L2.00013 10.9616L15.6343 1.50002" stroke="#472D48" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <h2 id="categorie_journee">REPAS</h2>
                    <svg id="fleche_droite" width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg" style="padding: 10px 10px;">
                        <path d="M2 1.5L15.6341 10.9615L2 20.4231" stroke="#472D48" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <div class="swiper-slide">
                <svg id="journee_4_svg" width="155" height="75" viewBox="0 0 155 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0.5C69.666 0.5 98.7211 51.7054 81.5522 60.625C61.5367 71.0235 51.5066 28.5804 110.277 28.5804C169.047 28.5804 174 74.5 174 74.5" stroke="#F08461" stroke-width="4" stroke-dasharray="8 8"/>
                </svg>                   
                <img src="img/journee_type/kaylia_nemour.svg" id="Kaylia_Nemour_journee">
                <img id="journee_img" src="img/journee_type/journee_type_4.jpeg" alt="journee_type_1">
                <img src="img/journee_type/15h.svg" alt="7h30" width="20%" style="position: absolute; bottom: 64%; left: 50%; transform: translate(-50%, 0);">
                <h1 id="journee_type" >JOURNÉE TYPE</h1>
                <div id="description_journee">Kaylia effectue son deuxième entraînement quotidien au gymnase jusqu'à 19h30, se concentrant particulièrement sur les barres asymétriques, sa spécialité.</div>
                <div id="barre_navigation_journee">
                    <svg id="fleche_gauche" width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg" style="padding: 10px 10px;">
                        <path d="M15.6343 20.4231L2.00013 10.9616L15.6343 1.50002" stroke="#472D48" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <h2 id="categorie_journee">ENTRAINEMENT</h2>
                    <svg id="fleche_droite" width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg" style="padding: 10px 10px;">
                        <path d="M2 1.5L15.6341 10.9615L2 20.4231" stroke="#472D48" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <div class="swiper-slide">
                <svg id="journee_1_svg" xmlns="http://www.w3.org/2000/svg" width="165" height="102" viewBox="0 0 165 102" fill="none">
                    <path d="M0 -11C105.5 -11 149.5 66.5 123.5 80C93.1892 95.7383 78 31.5 167 31.5C256 31.5 263.5 101 263.5 101" stroke="#F08461" stroke-width="4" stroke-dasharray="8 8" />
                </svg>     
                <img src="img/journee_type/kaylia_nemour.svg" id="Kaylia_Nemour_journee">
                <img id="journee_img" src="img/journee_type/journee_type_5.png" alt="journee_type_1">
                <img src="img/journee_type/20h.svg" alt="7h30" width="20%" style="position: absolute; bottom: 64%; left: 50%; transform: translate(-50%, 0);">
                <h1 id="journee_type" >JOURNÉE TYPE</h1>
                <div id="description_journee">Kaylia rentre chez elle pour le dîner. Un peu de temps pour se consacrer à sa famille et à ses autres passions : la pâtisserie et la lecture. </div>
                <div id="barre_navigation_journee">
                    <svg id="fleche_gauche" width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg" style="padding: 10px 10px;">
                        <path d="M15.6343 20.4231L2.00013 10.9616L15.6343 1.50002" stroke="#472D48" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <h2 id="categorie_journee">EN FAMILLE</h2>
                    <svg id="fleche_droite" width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg" style="visibility: hidden;">
                        <path d="M2 1.5L15.6341 10.9615L2 20.4231" stroke="#472D48" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>