<div id="mouvement-page" class="category-page swiper" style="bottom: 50%; left: 50%; width: 0; height: 0; border-radius: 50%; overflow: hidden; opacity: 0;">
    <div id="mouvement-video">
        <!-- Truc de twitter pour récupérer la vidéo et l'intégré au site-->
        <blockquote class="twitter-tweet" data-media-max-width="560">
            <p lang="en" dir="ltr">Kaylia Neymour, take a bow!<br><br>Watch Live:
                <a href="https://t.co/by95XbtL2D">https://t.co/by95XbtL2D</a>
                <a href="https://twitter.com/hashtag/ARTWorlds2023?src=hash&amp;ref_src=twsrc%5Etfw">#ARTWorlds2023</a>
                <a href="https://t.co/EhWACWwJri">https://t.co/EhWACWwJri</a>
                <a href="https://t.co/M6UrVZRbzH">pic.twitter.com/M6UrVZRbzH</a>
            </p>
            &mdash; FIG (@gymnastics)
            <a href="https://twitter.com/gymnastics/status/1708791251972075942?ref_src=twsrc%5Etfw">October 2, 2023</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="swiper" id="swiper_mouvement">
        <div  class="swiper-wrapper">
            <div class="swiper-slide">
                <svg id="mouvement_1_svg" xmlns="http://www.w3.org/2000/svg" width="165" height="102" viewBox="0 0 165 102" fill="none">
                    <path d="M0 -11C105.5 -11 149.5 66.5 123.5 80C93.1892 95.7383 78 31.5 167 31.5C256 31.5 263.5 101 263.5 101" stroke="#F08461" stroke-width="4" stroke-dasharray="8 8" />
                </svg>
                <img src="img/logo merguez.svg" class="Kaylia_Nemour_mouvement">
                <h1 class="mouvement_type" >SON MOUVEMENT</h1>
                <p class="description_mouvement">Kaylia a inscrit un nouveau mouvement aux barres lors des championnats d’Afrique : un Tkatchev tendu depuis un Stalder serré, évalué à 0,7 point, soit la valeur la plus haute à ce jour attribuée à cet agrès.</p>
                <div class="barre_navigation_mouvement">
                    <svg  width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg" style="visibility : hidden;">
                        <path d="M15.6343 20.4231L2.00013 10.9616L15.6343 1.50002" stroke="#472D48" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <h2 class="categorie_mouvement">LE "NEMOUR"</h2>
                    <svg id="fleche_droite_mouv" width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg" style="padding: 10px 10px;">
                        <path d="M2 1.5L15.6341 10.9615L2 20.4231" stroke="#472D48" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <div class="swiper-slide">
                <svg id="mouvement_2_svg" width="192" height="74" viewBox="0 0 192 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M-81 72.3503C-2.25185 2.14365 82.1646 30.7113 71.7413 58.0902C59.5897 90.0085 5.5037 52.1672 71.9358 -7.05933C138.368 -66.2858 190.216 -19.4001 190.216 -19.4001" stroke="#F08461" stroke-width="4" stroke-dasharray="8 8"/>
                </svg>
                <img src="img/logo merguez.svg" class="Kaylia_Nemour_mouvement">
                <h1 class="mouvement_type" >SON MOUVEMENT</h1>
                <p class="description_mouvement">« Je ne m’y attendais pas quand j’ai commencé à le travailler. Quand on m’a dit que ça n’existait pas, forcément, je voulais le valider », affirme la gymnaste de 17 ans.</p>
                <div class="barre_navigation_mouvement">
                    <svg id="fleche_gauche_mouv" width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg" style="padding: 10px 10px;">
                        <path d="M15.6343 20.4231L2.00013 10.9616L15.6343 1.50002" stroke="#472D48" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <h2 class="categorie_mouvement">INTERVIEW</h2>
                    <svg id="fleche_droite_mouv" width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg" style="padding: 10px 10px;">
                        <path d="M2 1.5L15.6341 10.9615L2 20.4231" stroke="#472D48" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <div class="swiper-slide">
                <svg id="mouvement_3_svg" width="76" height="128" viewBox="0 0 76 128" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M85 125.5C45 112 48 35 19.7959 35C-10.6029 35 3.53709 66 17 66C33.2041 66 51.2959 2 75.7959 0.499999" stroke="#F08461" stroke-width="4" stroke-dasharray="8 8"/>
                </svg>
                <img src="img/logo merguez.svg" class="Kaylia_Nemour_mouvement">
                <h1 class="mouvement_type" >SON MOUVEMENT</h1>
                <p class="description_mouvement">Grâce à son mouvement (0’04 à 0’08 ci-dessus), l’Avoinaise a brillé sur toutes ses dernières compétitions, se démarquant de toutes ses adversaires. De quoi lui permettre d’aller à Paris avec des ambitions légitimes et un rêve doré. </p>
                <div class="barre_navigation_mouvement">
                    <svg id="fleche_gauche_mouv" width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg" style="padding: 10px 10px;">
                        <path d="M15.6343 20.4231L2.00013 10.9616L15.6343 1.50002" stroke="#472D48" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <h2 class="categorie_mouvement">LE RÊVE DORÉ</h2>
                    <svg id="fleche_droite_mouv" width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg" style="visibility: hidden;">
                        <path d="M2 1.5L15.6341 10.9615L2 20.4231" stroke="#472D48" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>