<div id="mouvement-page" class="category-page swiper" style="bottom: 50%; left: 50%; width: 0; height: 0; border-radius: 50%; overflow: hidden; opacity: 0;">
    <div id="mouvement-container" class="page-container">
        <img src="img/chemins/chemin1.svg" class="svg-boucle" id="mouv-chemin-1" alt="boucle" loading="lazy">
        <img src="img/chemins/chemin1.svg" class="svg-boucle" id="mouv-chemin-2" alt="boucle" loading="lazy">
        <div id="mouvement-header">
            <img src="img/logo merguez.svg" class="image-histoire image-titre" alt="logo histoire" loading="lazy">
            <h1>SON MOUVEMENT</h1>
        </div>
            <div id="mouvement-video">
                <!-- Truc de twitter pour récupérer la vidéo et l'intégré au site-->
                <blockquote class="twitter-tweet" data-media-max-width="560">
                    <p lang="en" dir="ltr">Kaylia Neymour, take a bow!<br><br>Watch Live:
                        <a href="https://t.co/by95XbtL2D">https://t.co/by95XbtL2D</a>
                        <a href="https://twitter.com/hashtag/ARTWorlds2023?src=hash&amp;ref_src=twsrc%5Etfw">#ARTWorlds2023</a>
                        <a href="https://t.co/EhWACWwJri">https://t.co/EhWACWwJri</a>
                        <a href="https://t.co/M6UrVZRbzH">pic.twitter.com/M6UrVZRbzH</a>
                    </p>
                    &mdash; FIG (@gymnastics)
                    <a href="https://twitter.com/gymnastics/status/1708791251972075942?ref_src=twsrc%5Etfw">October 2, 2023</a>
                </blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        <div id="mouvement-contenu">
            <div id="mouvement-contenue-titre">
                <div id="mouvement-contenue-titre-buttonG" class="hidden"> < </div>
                <div id="mouvement-contenue-titre-texte">
                    <div id="mouvement-contenue-titre-texte-1" class="mouvActif"><h2>LE "NEMOUR"</h2></div>
                    <div id="mouvement-contenue-titre-texte-2" class="hidden">   <h2>INTERVIEW</h2></div>
                    <div id="mouvement-contenue-titre-texte-3" class="hidden">   <h2>LE RÊVE DORÉ</h2></div>
                </div>
                <div id="mouvement-contenue-titre-buttonD"> > </div>
            </div>
            <div id="mouvement-contenue-texte">
                    <div id="mouvement-contenue-texte-1" class="mouvActif"><p>Kaylia a inscrit un nouveau mouvement aux barres lors des championnats d’Afrique : un Tkatchev tendu depuis un Stalder serré, évalué à 0,7 point, soit la valeur la plus haute à ce jour attribuée à cet agrès.</p></div>
                    <div id="mouvement-contenue-texte-2" class="hidden"><p>« Je ne m’y attendais pas quand j’ai commencé à le travailler. Quand on m’a dit que ça n’existait pas, forcément, je voulais le valider », affirme la gymnaste de 17 ans.</p></div>
                    <div id="mouvement-contenue-texte-3" class="hidden"><p>Grâce à son mouvement (0’04 à 0’08 ci-dessus), l’Avoinaise a brillé sur toutes ses dernières compétitions, se démarquant de toutes ses adversaires. De quoi lui permettre d’aller à Paris avec des ambitions légitimes et un rêve doré.</p></div>
            </div>
        </div>
    </div>
</div>