<div id="palmares-page" class="category-page swiper" style="bottom: 20%; left: 25%; width: 0; height: 0; border-radius: 50%; overflow: hidden; opacity: 0;">
    <img src="img/chemins/chemin1.svg" class="svg-boucle" alt="boucle" loading="lazy">
    <div class="page-container" id="palmares-container">
        <div id="palmares-logo">
            <img src="img/logo%20merguez.svg" alt="logo palmarès" class="image-titre" loading="lazy">
        </div>
        <h1 id="titre-palmares">PALMARÈS</h1>
        <div class="card-container" id="card-afrique">
            <img src="img/retourner.svg" alt="" class="logo-retourner" loading="lazy">
            <div class="card">
                <div class="card-front">
                    <h2 class="card-front-palmares-titre">
                        CHAMPIONNAT<br> D'AFRIQUE
                    </h2>
                </div>
                <div class="card-back">
                    <h2 class="card-palmares-titre">
                        CHAMPIONNAT<br> D'AFRIQUE
                    </h2>
                    <p class="card-palmares-texte">
                        1re au concours général, 26 mai 2023, Pretoria (Afrique du sud)	→ qualification pour les Mondiaux. 
                        Une première étape vers les JO.
                    </p>
                </div>
            </div>
        </div>

        <div class="card-container" id="card-inter">
            <img src="img/retourner.svg" alt="" class="logo-retourner" loading="lazy">
            <div class="card">
                <div class="card-front">
                    <h2 class="card-front-palmares-titre">
                        INTERNATIONAUX<br>
                        DE FRANCE
                    </h2>
                </div>
                <div class="card-back">
                    <h2 class="card-palmares-titre">
                        INTERNATIONAUX<br>
                        DE FRANCE
                    </h2>
                    <p class="card-palmares-texte">
                        3e aux barres et 2e à la poutre, 17 septembre 2023, Paris. 
                        Sa première participation à des Mondiaux. 
                    </p>
                </div>
            </div>
        </div>
        <div class="card-container" id="card-mondiaux">
            <img src="img/retourner.svg" alt="" class="logo-retourner" loading="lazy">
            <div class="card">
                <div class="card-front">
                    <h2 class="card-front-palmares-titre">
                        LES MONDIAUX
                    </h2>
                </div>
                <div class="card-back">
                    <h2 class="card-palmares-titre">
                        LES MONDIAUX
                        <br>
                    </h2>
                    <p class="card-palmares-texte">
                        13e du concours général pendant les qualifications → billet validé pour les JO. 
                        Finalement 8e en finale mais 2e aux barres, 29 septembre au 8 octobre, Anvers (Belgique). 
                        1re médaille aux Mondiaux pour la gym africaine.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>