<div id="palmares-page" class="category-page swiper" style="bottom: 20%; left: 25%; width: 0; height: 0; border-radius: 50%; overflow: hidden; opacity: 0;">
    <div class="palmares-container">
        <div id="palmares-logo">
            <img src="img/logo%20merguez.svg" alt="logo palmarès" class="image-titre">
        </div>
        <h1 id="titre-palmares">Palmarès</h1>
        <div class="card-container" id="card-afrique">
            <div class="card">
                <div class="card-front">
                    <h2 class="card-front-palmares-titre">
                        CHAMPIONNAT D'AFRIQUE
                    </h2>
                </div>
                <div class="card-back">
                    <h2 class="card-palmares-titre">
                        CHAMPIONNAT D'AFRIQUE
                    </h2>
                    <p class="card-palmares-texte">
                        Kaylia Nemour, 1ère au concours général
                        26 mai 2023, Pretoria (Afrique du Sud)
                        <br>→ Qualification pour les Mondiaux.
                        Une première étape vers les JO.
                    </p>
                </div>
            </div>
        </div>

        <div class="card-container" id="card-inter">
            <div class="card">
                <div class="card-front">
                    <h2 class="card-front-palmares-titre">
                        INTERNATIONAUX
                        DE FRANCE
                    </h2>
                </div>
                <div class="card-back">
                    <h2 class="card-palmares-titre">
                        INTERNATIONAUX
                        DE FRANCE
                    </h2>
                    <p class="card-palmares-texte">
                        3ème aux barres et 2ème à la poutre
                        17 septembre 2023 à Paris. <br>C'est sa première participation à des Mondiaux.
                    </p>
                </div>
            </div>
        </div>

        <div class="card-container" id="card-mondiaux">
            <div class="card">
                <div class="card-front">
                    <h2 class="card-front-palmares-titre">
                        LES MONDIAUX
                        ( POUR LES JO)
                    </h2>
                </div>
                <div class="card-back">
                    <h2 class="card-palmares-titre">
                        LES MONDIAUX
                        ( POUR LES JO)
                    </h2>
                    <p class="card-palmares-texte">
                        2ème aux barres et 8ème au concours général. 13ème au classement final <br>→ qualification pour les JO. Du 29 septembre au 8 octobre
                        à Anvers (Belgique), c'est la première médaille aux mondiaux pour le continent africain.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>