@import "style2.css";

:root {
	--gb-50: #00a55a;
}

.swiper-button-next,
.swiper-button-prev {
	background: none;
	color: #00a55a !important;
	fill: #00a55a !important;
}

.container {
	overflow: hidden;
}

.swiper-container {
	width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: visible;
}

.swiper-pagination-bullet {
	display: none !important;
}
.buttons {
	justify-content: center;
}

.container-terrain {
	display: flex;
	align-items: center;
	height: 100%;
	flex-direction: column;
	align-content: center;
	justify-content: space-evenly;
}

.textvote-container {
	margin: 7% 0 5% 0;
	width: 100%;
	height: 8%;
	background-image: url("../img/textvote.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.player {
	background-image: url("../img/jersey.svg");
}

.player-name {
	position: absolute;
	bottom: -17%;
	font-size: 0.75em;
	left: 50%;
	transform: translateX(-50%);
	width: -moz-fit-content;
	width: fit-content;
}

.player-name-long {
	position: absolute;
	bottom: -20%;
	font-size: 0.75em;
	left: 50%;
	transform: translateX(-50%);
	font-weight: bold;
	white-space: nowrap;
}

#writer {
	display: inline-block;
	padding: 2% 5%;
	font-size: 0.8em;
	border-radius: 10px;
	background-color: #ffffff;
	color: var(--gb-50);
	font-weight: 800;
	margin: 2% 0;
	border: none;
	box-shadow: 3px 3px 0 var(--gb-52);
}

#entraineur-choix {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3% 5% 2% 5%;
	font-size: 1.05em;
	border-radius: 30px;
	background-color: #ffffff;
	color: var(--gb-51);
	font-weight: 800;
	margin: 5%;
	border: none;
	box-shadow: 3px 3px 0 var(--gb-52);
}

.player {
	background-image: url("../img/jersey.svg");
}

@keyframes like {
	0% {
		transform: scale(1);
		background-color: #ffffff;
		color: #fadc00;
	}
	10% {
		transform: scale(1.2);
		background-color: #fadc00;
		color: #ffffff;
	}
	90% {
		transform: scale(1.2);
		background-color: #fadc00;
		color: #ffffff;
	}
	100% {
		transform: scale(1);
		background-color: #ffffff;
		color: #fadc00;
	}
}

.heart-button {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	left: -7%;
	bottom: -6%;
}

.heart-svg img::after {
	content: "";
	display: block;
	visibility: hidden;
}

.heart-svg {
	width: 24px;
	height: auto;
}

.heart-filled {
	display: none;
}

.heart-button.like {
	animation: 0.7s like ease-in-out;
}

.like-count {
	position: absolute;
	top: 120%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tr {
	position: absolute;
	top: -8%;
	right: -5%;
	width: 20%;
	background-position: center;
	background-size: 75%;
	background-repeat: no-repeat;
	border: none;
	border-radius: 50%;
	aspect-ratio: 1;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#redac {
	transform: translateX(-50%);
}

.bottom-btn {
	margin: 2% 0 4% 0;
}
