@import "style2.css";

:root {
	--gb-50: #00a55a;
}

.swiper-button-next,
.swiper-button-prev {
	background: none;
	color: #00a55a !important;
	fill: #00a55a !important;
}

.container {
	overflow: hidden;
}

.swiper-container {
	width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: visible;
}

.swiper-pagination-bullet {
	display: none !important;
}
.buttons {
	justify-content: center;
}

.container-terrain {
	display: flex;
	align-items: center;
	height: 100%;
	flex-direction: column;
	align-content: center;
	justify-content: space-evenly;
}

.textvote-container {
	margin: 5% 0;
	width: 100%;
	height: 50px;
	background-image: url("../img/textvote.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.player {
	background-image: url("../img/jersey.svg");
}

.player-name {
	position: absolute;
	bottom: -17%;
	font-size: 0.75em;
	left: 50%;
	transform: translateX(-50%);
	width: -moz-fit-content;
	width: fit-content;
}

.player-name-long {
	position: absolute;
	bottom: -20%;
	font-size: 0.75em;
	left: 50%;
	transform: translateX(-50%);
	font-weight: bold;
	white-space: nowrap;
}

#writer {
	display: inline-block;
	padding: 2% 5%;
	font-size: 0.8em;
	border-radius: 10px;
	background-color: #ffffff;
	color: var(--gb-50);
	font-weight: 800;
	margin: 2% 0;
	border: none;
	box-shadow: 3px 3px 0 var(--gb-52);
}

#entraineur-choix {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3% 5% 2% 5%;
	font-size: 1.05em;
	border-radius: 30px;
	background-color: #ffffff;
	color: var(--gb-51);
	font-weight: 800;
	margin: 5%;
	border: none;
	box-shadow: 3px 3px 0 var(--gb-52);
}

.player {
	background-image: url("../img/jersey.svg");
}

@keyframes like {
	0% {
		transform: scale(1);
		background-color: #ffffff;
		color: #fadc00;
	}
	10% {
		transform: scale(1.2);
		background-color: #fadc00;
		color: #ffffff;
	}
	90% {
		transform: scale(1.2);
		background-color: #fadc00;
		color: #ffffff;
	}
	100% {
		transform: scale(1);
		background-color: #ffffff;
		color: #fadc00;
	}
}
.heart-button {
	background-color: white; /* Définit l'arrière-plan du bouton en blanc */
	border: none; /* Supprime la bordure, si vous n'en voulez pas */
	outline: none; /* Supprime l'outline pour éviter l'effet de focus bleu par défaut sur les boutons */
	cursor: pointer; /* Change le curseur en pointeur pour indiquer qu'il s'agit d'un élément cliquable */

	/* Ajoutez des propriétés supplémentaires pour ajuster la taille et l'espacement si nécessaire */
	padding: 10px; /* Espacement intérieur, ajustez selon vos besoins */
	border-radius: 50%; /* Rend le bouton circulaire, ajustez ou supprimez selon vos besoins */

	/* Centrez les images SVG à l'intérieur du bouton */
	display: flex;
	align-items: center;
	justify-content: center;
}

	flex-direction: column; /* Organise les éléments en colonne */
	align-items: center; /* Centre les éléments horizontalement */
	justify-content: center; /* Centre les éléments verticalement */
	border: none;
	cursor: pointer;
	padding: 5px; /* Réduisez le padding pour diminuer la taille globale */
	width: 50px; /* Définit une largeur fixe pour le bouton */
	height: 50px; /* Définit une hauteur fixe pour le bouton, ajustez selon besoin */
	border-radius: 50%; /* Assure que le bouton reste rond */
	position: relative;
	margin-bottom: 5px; /* Espacement entre le bouton et le compteur de likes */
  }
  
  
  
.heart-svg img::after {
	content: "";
	display: block;
	visibility: hidden;
}

.heart-svg img {
	width: 100%;
	height: auto;
	display: block;
}
.heart-svg {
	width: 24px; /* ou la taille désirée */
	height: auto;
	display: block; /* Affiche seulement l'image visible */
}

.heart-filled {
	display: none; /* Cache initialement l'image du cœur plein */
}

.heart-button.like {
	animation: 0.7s like ease-in-out;
}

.like-count {
	position: absolute; /* Position absolue par rapport au bouton cœur */
	top: 120%; /* Ajustez la position comme nécessaire */
	left: 50%; /* Ajustez la position pour que le compteur apparaisse à droite du cœur */
	transform: translate(-50%, -50%); /* Centre le texte */
	/* ... autres styles ... */
}

.tr {
	position: absolute;
	top: -8%;
	right: -5%;
	width: 20%;
	background-position: center;
	background-size: 75%;
	background-repeat: no-repeat;
	border: none;
	border-radius: 50%;
	aspect-ratio: 1;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#redac {
	transform: translateX(-50%);
}

.bottom-btn {
	margin: 2% 0;
}
