@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
	font-family: Industry, Bebas Neue, sans-serif;
	color: #ffffff;
	min-width: 0;
}

@keyframes growAnimation {
	0% {
		transform-origin: left;
		transform: scale(1) translate(-50%, -50%);
	}

	50% {
		transform-origin: left;
		transform: scale(1.02) translate(-50%, -50%);
	}

	100% {
		transform-origin: left;
		transform: scale(1) translate(-50%, -50%);
	}
}

body {
	background-color: hsla(240, 14%, 14%, 0.9);
	margin: 0;
}

.container {
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;
}

.container > * {
	object-fit: contain;
}

#main,
#main1 {
	text-align: center;
	font-family: Industry;
	font-weight: bolder;
}

#main1 {
	width: 80%;
}

#main1 > .big-title {
	font-size: 1rem;
}

.green {
	color: #00a55a;
}

.big-title {
	font-size: 3.5rem;
}

.small-title {
	font-size: 1.5rem;
}

.choose {
	position: absolute;
	font-size: 25px;
	font-weight: bolder;
	font-family: Industry;
	top: 50%;
	left: 50%;
	border-radius: 50px;
	color: #00a55a;
	transform: translate(50%, 50%);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	cursor: pointer;
	animation: growAnimation 1.5s infinite;
	border: none;
}

.btn {
	background-color: #1e1e28;
	color: #fadc00;
	padding: 0.75em;
	font-family: Bebad Neue Pro;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	margin: 1rem auto;
	border: none;
	font-size: calc(max(3vh, 3vw));
	cursor: pointer;
}

.btn:hover {
	background-color: #fadc00;
	color: #1e1e28;
	font-weight: bolder;
}

/* Vector */
.field {
	position: relative;
	width: 70%;
	padding: 5% 3%;
	background-color: #1e1e28;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#intro,
#gif {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: hsla(240, 14%, 14%, 0.995);
	text-align: center;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

#gif > img {
	width: 100%;
}

#intro > h1 {
	font-size: 2.7rem;
	letter-spacing: 0.1rem;
}

#intro > p {
	font-family: Bebas Neue;
	font-weight: lighter;
}

#intro > * {
	margin: 5%;
	width: 80%;
}

#intro-btn {
	font-size: 20px;
	border: solid 2px oldlace;
	width: 55%;
}

/* For computers */

.gb-shutter {
	border: 2px solid var(--gb-52);
	box-shadow: 3px 3px 0 var(--gb-52);
	font-size: 14px;
	font-weight: 100;
	overflow: hidden;
	color: var(--gb-51);
	background: var(--gb-52);
	font-family: Bebas Neue;
}

.gb-shutter:active {
	background-color: var(--gb-51);
	color: var(--gb-52);
}

.gm-btn {
	border: none;
	padding: 13px 20px;
	font-size: 18px;
	line-height: 24px;
	transition: 0.3s;
	cursor: pointer;
	position: relative;
	outline: none;
}

:root {
	--gb-51: #fadc00;
	--gb-52: #1e1e28;
}
