* {
	font-family: Industry, Bebas Neue Pro, sans-serif;
	color: #FFFFFF;
}

body {
	background-color: hsla(240, 14%, 14%, 0.9);
	margin: 0;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

#main {
	text-align: center;
	font-family: Industry;
	font-weight: bolder;
}

.green {
	color: #00A55A;
}

.big-title {
	font-size: calc(max(8vh, 8vw));
}

.small-title {
	font-size: calc(max(5vh, 5vw));
}


.choose {
	position: absolute;
	font-size: 110px;
	font-weight: semi-bold;
	top: 50%;
	left: 50%;
	width: 115px;
	height: 115px;
	border-radius: 50%;
	color: black;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 26px;
}

.choose:hover {
	transform-origin: left;
	transform: scale(1.05) translate(-50%, -50%);
	transition: transform 0.4s ease-in-out;
}

.btn {
	background-color: #1E1E28;
	color: #FADC00;
	padding: 2vh;
	font-family: Bebad Neue Pro;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	margin: 3vh auto ;
	border: none;
	font-size: calc(max(3vh, 3vw));
}

.btn:hover {
	background-color: #FADC00;
	color: #1E1E28;
	font-weight: bolder;
}

.bottom {
	background-color: #1E1E28;
}

/* Vector */
.field {
	position: relative;
	background-color: #1E1E28;
	padding: 5% 3%;
	border-radius: 20px;
}

@media screen and (min-width: 600px) {
	.field {	
		transform-origin: center;
		transform: rotate(90deg) scale(1.2);

	}
	
}