/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* ------- that adapts content width and height so that aspect ratio  ----------- */
/* ------- is kept between 9/16 a,d 3/4 (portait orientation)         ----------- */


/* Color palette */
/* -------------- Main colors --------------*/
/* 
--noir: #212425;
--blanc #e5dfca;
--rouge #d85f45;
--bleu #386f9c;
--rose #de9b94;
--vert #677f63;

*/

/* Normalize margin and padding to ease elements positioning */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  overflow: hidden; /* to avoid slider bugs on some browsers */
  font-family: sans-serif;
}

/* -------------- Loader --------------*/
#loader {
  z-index: 2;
  position: absolute;
}

#loader-img {
  top: 40%;
  left: 40%;
  position: absolute;
  color: black;
}

#loader-text {
  text-align: center;
  font-size: 25%;
  position: absolute;
  top: 60%;
  width: 100%;
  color: black;
}
/* -------------- End of Loader --------------*/

/* Swiper slider. Need to fill the container */
#mySwiper {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* white navigation bullets */
.swiper-pagination-bullet-active {
  background-color: #386f9c !important;
}

/* the slides and the loader should fill the whole 9:16 zone */
.swiper-wrapper section,
#loader {
  background-color: white;
  width: 100%;
  height: 100%;
}

/* ---------- First slide -------------------- */
#first-slide {
  /* change background color to red (defined in the color palette) */
  background-color: #e5dfca;
}

#first-slide header {
  text-align: center;
  width: 70%;
  position: absolute;
  font-size: 30%;
  z-index: 2;
  color: #e5dfca;
  background-color: #386f9c;
  border-radius: 10px;
  padding: 20px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%); /* Add this line */
}

#first-slide p {
  text-align: center;
  width: 65%;
  position: absolute;
  font-size: 35%;
  z-index: 2;
  color: #e5dfca;
  background-color: #386f9c;
  border-radius: 10px;
  padding: 20px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#first-slide .arrow {
  position: absolute;
  bottom: -2%;
  left: -4%;
  margin: 20px;
}

#first-slide .arrow img {
  width: 10%;
  height: 10%;
  margin: 20px;
}

#first-slide .bag {
  position: absolute;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
}

#first-slide .tete {
  position: absolute;
  height: auto;
  width: 17%;
  top: 16.5%;
  left: 13%;
  transform: translateX(-50%); 
  z-index: 2;
  rotate: -10deg;
}

/* Most of the elements in this demo are absolute positioned with percentages */
#second-slide header,
#second-slide header {
  text-align: center;
  width: 100%;
  top: 10%;
  position: absolute;
  font-size: 30%;
  z-index: 2;
}

#logo-hyblab {
  text-align: center;
  width: 50%;
  left: 50%; /* center the logo, in interaction with the negative margin-left */
  top: 50%;
  margin-left: -25%; /* this is half the width */
  margin-top: calc(
    -7.5% * 9 / 16
  ); /* margins are relative to the element width... :-( */
  position: absolute;
  font-size: 50%;
  z-index: 2;
  cursor: pointer;
}

/* Last slide image is centered */
#img-fini {
  width: 70%;
  left: 50%; /* center the logo, in interaction with the negative margin-left */
  top: 40%;
  position: absolute;
  margin-left: -35%; /* this is half the width */
  margin-top: calc(
    -25% * 9 / 16
  ); /* margins are relative to the element width... :-( */
}

main > section {
  background-color: white;
  background-size: 100% auto; /* background is full width and height is proportional to width */
  background-position: bottom; /* background is bottom aligned */
}

/* popup div on the second slide class popup */
#second-slide .popup {
  display: none;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background-color: rgb(255, 177, 68);
  z-index: 3;
  overflow: hidden;
  border-radius: 20px;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
}

#second-slide .popup.show {
  opacity: 1;
  transform: scale(1);
}

#second-slide .popup-content {
  background-color: rgb(255, 177, 68);
  width: 100%;
  height: 80%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

#second-slide .popup-content p {
  font-size: 0.5em;
  line-height: 0.5em;
  word-wrap: break-word;
  max-width: 100%;
  line-height: 1em;
}

#second-slide .close {
  color: #000000;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
}

#second-slide .close:hover,
#second-slide .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ---------- Positioning of logos on the last slide -------------------- */
/* here we have a contraint on the height of the logos (not the width)     */
/* so we cannot use % and use em (which are proportional to the size of the */
/* slide because of body's font size rule at the end of this CSS           */
#bandeau {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
  font-size: 20%;
}

#bandeau li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5em;
}

#bandeau img {
  height: 2.5em;
}

#bandeau #hyblab {
  margin: 1em auto;
  height: 3em;
  display: block;
}

#bandeau #cc,
#bandeau #opensource {
  height: 1em;
}

#bandeau .stacked {
  display: block;
}

#bandeau ul {
  text-align: center;
  padding: 0 0;
  margin: 0.5em auto;
}

#bandeau .institutionnel {
  height: 2em;
}

/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Whatever the device used, the content will be displayed full width and height if      */
/* the aspect ratio is between 3/4 and 9/16. If not it is locked to either 3/4 or 9/16  */

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container {
  position: fixed; /* To set the size of the container to 100% of the visible viewport height AND for absolute positioning of child elements*/
  height: 100%; /* even on mobile devices with url or navigation bars */
  margin-left: calc(
    (100vw - 100 * 3vh / 4) / 2
  ); /* Add black bands on left and right */
  width: calc(100 * 3vh / 4); /* Force 3/4 aspect ratio */
}

/* We set a default font size here. It will be the base for all other font sizes */
/* Here the font size is proportional to content width */
body {
  font-size: calc(15vh * 3 / 4);
}

/* Fill the whole viewport when its aspect ratio is between 9/16 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
  #container {
    margin-left: 0; /* reset margin-left */
    width: 100vw; /* content is full width (and full height because of the default rule for container height */
  }

  /* We set a default font size here. It will be the base for all other font sizes */
  /* Here the font size is proportional to content width */
  body {
    font-size: 15vw;
  }
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */
@media screen and (max-aspect-ratio: 9/16) {
  #container {
    margin-left: 0; /* reset left margin */
    width: 100vw; /* content is full width */
    margin-top: calc(
      -50 * 16vw / 9
    ); /* move the content half the height to the top */
    top: 50%; /* then center it ! */
    height: calc(
      100 * 16vw / 9
    ); /* adjust height so that aspect ratio is 9/16 */
  }

  /* We set a default font size here. It will be the base for all other font sizes */
  /* Here the font size is proportional to content width */
  body {
    font-size: 15vw;
  }
}
