.container-frame5 {
    font-family: 'Arial', sans-serif; /* Utilisez la police de votre choix */
    color: #333; /* Couleur du texte */
    background-color: #f9f9f9; /* Couleur de fond de la carte */
    padding: 20px; /* Espacement autour du contenu */
    border-radius: 15px; /* Coins arrondis */
    width: 300px; /* Largeur de la carte */
    margin: auto; /* Centrer la carte */
  }
  
  .container-frame5 h1 {
    color: #ff4081; /* Couleur du titre */
    text-align: center; /* Titre centré */
  }
  
  .infos-perso div, .fun-fact p {
    background-color: #fff; /* Fond blanc pour les sections de texte */
    margin-bottom: 10px; /* Espacement entre les sections */
    padding: 10px; /* Espacement à l'intérieur des sections */
    border-radius: 10px; /* Coins arrondis pour les sections */
  }