.frameContainer {
    width: 100%; 
    margin : auto; 
    position: relative;
    display: flex; 
    flex-direction: column; 
    height: 140vh; /* Prendre toute la hauteur de la fenêtre */
    align-items: flex-start;
}
.titre_frame2{
    font-family: "Golos Text";
    font-size: 80px; 
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    color: #25283D; 
    height: 400px;
    
    margin-left: 250px; 
    margin-top:  100px; 
    margin-right:  250px;
}

.info {
    color: #25283D;
    font-family: "Golos Text";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: normal; 
    margin-left: 230px; 
}

.leftSVG {
    width: 76px;
    height: 76px;
    fill: #25283D;
}

.rectangleYellow {
    width: 100%;
    flex-shrink: 0;
    background: #FACD60;
    display: flex;
    flex-direction: column; /* Changez la direction flex à "column" */
    align-items: center; /* Centrez le contenu horizontalement */
    padding: 20px;
}


.rectangleBlue{
    width: 70%;
    height: 200px;
    flex-shrink: 0; 
    background: #5F64FA; 
}

.rectangleRed{
    width: 60%;
    height: 200px;
    flex-shrink: 0; 
    background: #FA8C5F; 
}


.info {
    color: #25283D;
    font-family: "Golos Text";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name {
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.time {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.flag {
    display: flex;
    align-items: center;
}

.country {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 10px; /* Marge entre le texte et l'icône du drapeau */
}
