@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');


.frameContainer {
    width: 100%; 
    /*margin: auto; */
    position: relative;
    display: flex; 
    flex-direction: column; 
    height: auto; /* Ajuster la hauteur pour la compatibilité mobile */
}

.titreFrame2 {
    font-family: "Golos Text";
    font-size: 80px; 
    color: #25283D; 
    height: 600px;
    text-align: center; /* Centrer le titre */
    padding-top: 150px;
    font-weight: bold;
}

.rectangleYellowFrame2 {
    width: 100%;/* ajuster la largeur pour prendre en compte la bordure */
    height: 300px;
    flex-shrink: 0;
    background: #FACD5F;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 10px solid #25283D; /* s'assurer que la bordure est visible */
}

.info {
    color: #25283D;
    font-family: "Golos Text";
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0; /* Ajuster les marges */
    text-align: center; /* Centrer le texte */
}

.numberCircleFrame2 {
    width: 200px; /* Définissez la largeur souhaitée ici */
    height: auto; /* Cela conservera le ratio d'aspect de l'image */
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.infoFrame2 {
    color: #25283D;
    font-family: "Golos Text";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 200px;
}

.nameFrame2 {
    font-size: 100px;
    font-weight: 500;
}

.timeFrame2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
}
.flagFrame2 {
    padding-top: 10px;
}
.flagFrame2 img { 
    width: 70px; 
    height: auto;
}

.countryFrame2 {
    position: absolute;
    padding-top: 1px; /* Utilisez margin-top au lieu de padding-top */
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    margin-left: 20px; /* Marge entre le texte et l'icône du drapeau */
}

.rectangleBlueFrame2{
    width: 90%;
    height: 300px;
    background: #5F64FA; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.infoFrame2_2 {
    color: white;
    font-family: "Golos Text";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 200px;
}

.rectangleRedFrame2{
    width: 80%;
    height: 300px;
    flex-shrink: 0; 
    background: #FA8C5F; 
}

.infoFrame3_2 {
    color: white;
    font-family: "Golos Text";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 225px;
    margin-top: 25px;
}

.name_3_Frame2 {
    font-size: 75px;
    font-weight: 500;
}

.time_3_Frame2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
}
.flag_3_Frame2 {
    padding-top: 10px;
}
.flag_3_Frame2 img { 
    width: 50px; 
    height: auto;
}

.numberCircle_3_Frame2 {
    width: 150px; /* Définissez la largeur souhaitée ici */
    height: auto; /* Cela conservera le ratio d'aspect de l'image */
    position: absolute;
    transform: translateY(-50%);
    margin-top: 150px;
    margin-left: 25px;
}

.country_3_Frame2 {
    position: absolute;
    padding-top: 1px; /* Utilisez margin-top au lieu de padding-top */
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    margin-left: 20px; /* Marge entre le texte et l'icône du drapeau */
}

