@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');


.frame2Container {
    width: 100%; 
    position: relative;
    display: flex; 
    flex-direction: column; 
    height: auto; 
}

.titreFrame2 {
    font-family: "Golos Text";
    font-size: 80px; 
    color: #25283D; 
    height: 600px;
    text-align: center;
    padding-top: 150px;
    font-weight: bold;
}

.rectangleYellowFrame2 {
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    background: #FACD5F;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 10px solid #25283D;
    left: -277vw;
    transition: left 1s ease-in-out;
}
.appear {
    left: 0 !important;
}

.infoFrame2 {
    color: #25283D;
    font-family: "Golos Text";
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0; 
    text-align: center; 
}

.numberCircleFrame2 {
    width: 180px; 
    height: auto; 
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.infoFrame2 {
    color: #25283D;
    font-family: "Golos Text";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 220px;
    margin-top: 15px;
}

.nameFrame2 {
    font-size: 68px;
    font-weight: 500;
}

.timeFrame2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
}
.flagFrame2 {
    padding-top: 0px;
}
.flagFrame2 img { 
    width: 90px; 
    height: auto;
}

.countryFrame2 {
    position: absolute;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    padding-top: 25px;
}

.rectangleBlueFrame2{
    width: 90%;
    height: 300px;
    background: #5F64FA; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: -249vw;
    transition: left 1s ease-in-out;
}

.numberCircleFrame_2_2 {
    width: 175px; 
    height: auto;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.infoFrame2_2 {
    color: white;
    font-family: "Golos Text";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 80px;
    margin-top: 25px;
}

.name_2_Frame2 {
    font-size: 60px;
    font-weight: 500;
}

.time_2_Frame2 {
    font-size: 35px;
    font-weight: 400;
    line-height: 30px;
}

.flag_2_Frame2 img { 
    width: 90px; 
    position: relative;
}

.country_2_Frame2 {
    position: absolute;
    padding-top: 28px; 
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    margin-left: 0px; 
}


.rectangleRedFrame2{
    width: 80%;
    height: 300px;
    flex-shrink: 0; 
    background: #FA8C5F;
    left: -222vw;
    position: relative;
    transition: left 1s ease-in-out;
}

.infoFrame3_2 {
    color: white;
    font-family: "Golos Text";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 210px;
    margin-top: 35px;
}

.name_3_Frame2 {
    font-size: 60px;
    font-weight: 500;
}

.time_3_Frame2 {
    font-size: 35px;
    font-weight: 400;
    line-height: 30px;
}
.flag_3_Frame2 {
    padding-top: 10px;
}
.flag_3_Frame2 img { 
    width: 50px; 
    height: auto;
}

.numberCircle_3_Frame2 {
    width: 150px; 
    height: auto; 
    position: absolute;
    transform: translateY(-50%);
    margin-top: 150px;
    margin-left: 25px;
}

.country_3_Frame2 {
    position: absolute;
    padding-top: 1px; 
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    margin-left: 20px; 
}

