@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

.golos-text-frame1 {
    font-family: 'Golos Text', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .titre_frame1 {
    font-weight: 700;
    color: white;
    position: absolute;
    width: 100%;
    text-align: left;
    line-height: normal;
    margin-left: 95px;
}
  
  .sous-titre_frame1 {
    font-weight: 500;
    color: white;
    position: absolute;
    width: 100%;
    text-align: left;
    line-height: normal;
    margin-left: 95px;

  }
    
@keyframes agrandirBackground {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
  }
  
  .animationAgrandissement {
    animation: agrandirBackground 5s infinite alternate;
  }
  

  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .animationOut {
    transition: transform 2s ease-in-out;
    width: 100%;
  }
  .medailleTransition {
    position: absolute;
    z-index: 1;
    top: -128vh;
    width: 100%;
    transition: transform 2s ease-in-out;
  }
  