@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

.QualifieBW{
    position: relative;
    left: 15%;
    padding-bottom: 15px;
    transform: translateX(-50%);
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 5%;
}

.frame7Container {
    width: 100%; 
    position: relative;
    display: flex; 
    flex-direction: column; 
    height: auto; 
}

.titreFrame7 {
    font-family: "Golos Text";
    font-size: 80px; 
    color: #25283D; 
    height: 600px;
    text-align: center;
    padding-top: 150px;
    font-weight: bold;
}

.rectangle1Frame7 {
    width: 50%;
    flex-shrink: 0;
    background: #2EA26E;
    position: relative;
    transition: left 1s ease-in-out;
    text-align: center;
}

.appear {
    left: 0 !important;
}

.infoFrame7 {
    color: #25283D;
    font-family: "Golos Text";
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0; 
    text-align: center; 
}

.numberCircleFrame7 {
    width: 180px; 
    height: auto; 
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}


.nameFrame7 {
    font-size: 68px;
    font-weight: 500;
    margin-top: 10%;
}

.timeFrame7 {
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
}
.flagFrame7 {
    padding-top: 0px;
}
.flagFrame7 img { 
    width: 90px; 
    height: auto;
}




.countryFrame7 {
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    padding-top: 25px;
}

.rectangle2Frame7{
    width: 50%;
    height: 56.5%;
    background: #82C7AB; 
    position: relative;
    transition: left 1s ease-in-out;
}

.numberCircleFrame_7_2 {
    width: 175px; 
    height: auto;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.infoFrame7_2 {
    color: #ffffff;
    font-family: "Golos Text";
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0; 
    text-align: center; 
}

.name_2_Frame7 {
    font-size: 60px;
    font-weight: 500;
    margin-top: 10%;
}

.time_2_Frame7 {
    font-size: 35px;
    font-weight: 400;
    line-height: 30px;
}

.flag_2_Frame7 img { 
    width: 90px; 
    position: relative;
}


.country_2_Frame7 {
    padding-top: 28px; 
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    margin-left: 0px; 
}


.rectangle3Frame7{
    width: 50%;
    height: 96%;
    flex-shrink: 0; 
    background: #82C7AB;
    position: relative;
    transition: left 1s ease-in-out;
}

.infoFrame3_7 {
    color: #ffffff;
    font-family: "Golos Text";
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0; 
    text-align: center; 
}

.name_3_Frame7 {
    font-size: 60px;
    font-weight: 500;
    margin-top: 10%;
}

.time_3_Frame7 {
    font-size: 35px;
    font-weight: 400;
    line-height: 30px;
}
.flag_3_Frame7 {
    padding-top: 10px;
}
.flag_3_Frame7 img { 
    width: 50px; 
    height: auto;
}

.numberCircle_3_Frame7 {
    width: 150px; 
    height: auto; 
    position: absolute;
    transform: translateY(-50%);
    margin-top: 150px;
    margin-left: 25px;
}

.country_3_Frame7 {
    padding-top: 1px; 
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    margin-left: 20px; 
}

.GroupeRectangle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flagFrame7,
.flag_2_Frame7,
.flag_3_Frame7,
.flag_4_Frame7 {
  margin-top: 10px;
}


.highlight {
    border: 12px solid black; 
}

.middletext{
    padding-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.rectangle4Frame7{
    width: 50%;
    height: 96%;
    flex-shrink: 0; 
    background: #82C7AB;
    position: relative;
    transition: left 1s ease-in-out;
}

.infoFrame4_7 {
    color: #ffffff;
    font-family: "Golos Text";
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0; 
    text-align: center; 
}

.name_4_Frame7 {
    font-size: 60px;
    font-weight: 500;
    margin-top: 10%;
}

.time_4_Frame7 {
    font-size: 35px;
    font-weight: 400;
    line-height: 30px;
}
.flag_4_Frame7 {
    padding-top: 10px;
}
.flag_4_Frame7 img { 
    width: 50px; 
    height: auto;
}

.numberCircle_4_Frame7 {
    width: 150px; 
    height: auto; 
    position: absolute;
    transform: translateY(-50%);
    margin-top: 150px;
    margin-left: 25px;
}

.country_4_Frame7 {
    padding-top: 1px; 
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    margin-left: 20px; 
}

.RecEliminate {
    background-color: #EB5059;
  }

