/* CreditPage.css */
.credit-container {
    width: 100%;
    overflow: hidden;
  }
  
  .credit-logos {
    display: flex;
    animation: scrollCredits 20s linear infinite;
  }
  
  .credit-logos img {
    width: 160px;
    height: auto;
    margin-right: 20px; /* Ajustez selon l'espace entre les logos */
    margin-top:40px;
  }
  
  @keyframes scrollCredits {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .text-content {
    padding: 20px;
    margin-top: 10px;
    max-width: 400px; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-weight: bold;
    color: #333; 
    font-size: 14px; 
}

.text-content p {
    margin-bottom: 10px; 
    line-height: 1.4; 
}

/* pour small screen */
@media (max-width: 480px) {
    .text-content {
        padding: 10px;
        font-size: 12px;
    }
    .credit-logos img {
      width: auto; 
      max-width: 100px;
      margin-right: 5px; 
  }
}

  