/* CreditPage.css */
.credit-container {
    width: 100%;
    overflow: hidden;
  }
  
  .credit-logos {
    display: flex;
    animation: scrollCredits 20s linear infinite;
  }
  
  .credit-logos img {
    width: 150px;
    height: auto;
    margin-right: 20px; /* Ajustez selon l'espace entre les logos */
    margin-top:40px;
  }
  
  @keyframes scrollCredits {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .text-content {
    padding: 20px;
    margin-top: 10px;
    max-width: 400px; 
    font-family: 'Arial', sans-serif; 
    color: #333; 
    font-size: 14px; 
}

.text-content p {
    margin-bottom: 10px; 
    line-height: 1.4; 
}


@media (max-width: 480px) {
    .text-content {
        padding: 10px;
        font-size: 12px;
    }
    .credit-logos img {
      width: auto; /* 可以试着让图片在小屏幕上更自然地缩放 */
      max-width: 100px; /* 限制图片最大宽度 */
      margin-right: 5px; /* 小屏幕上减少间隔 */
  }
}

  